
.stu-wrap *{
    box-sizing: border-box;
}

.stu-wrap{
    margin-top: 20px;
}

.stu-plugin-logo{
    max-width: 168px;
}

.stu-header {
    /*background: #2196f3;*/
    background: #df6767;
    padding: 12px 15px 10px;
    display: flex;
    align-items: center;
}

.stu-sub-header{
    margin-left: 12px;
    font-size: 16px;
    font-style: italic;
    color: rgba(255,255,255,.68);
}

.stu-header h1,.stu-header h2 {
    color: #fff;
}
.stu-wrap h1.stu-floatLeft {
    float: left;
    padding: 0;
}
.stu-floatRight {
    float: right;
}

.stu-add-wrap{
    margin-left: auto;
}

.stu-add-wrap a{text-decoration: none}

.stu-clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.stu-field-wrap {
    margin-bottom: 18px;
}
.stu-field-wrap > label {
    display: inline-block;
    width: 200px;
    font-weight: 500;
    vertical-align: top;
    margin-right:20px;
}
.inside .stu-metabox-wrap .stu-field-wrap > label{
    width: 188px;
    max-width: 100%;
    display: block;
    
}
.inside .stu-metabox-wrap .stu-field{
    margin-top: 10px;
    width: 100%;
}
.stu-field {
    display: inline-block;
    width: calc(100% - 224px);
}

.inside .stu-field-wrap select{height: 28px;width: 80%;min-width: 40px;}
.inside .stu-field-wrap input[type="number"]{width: 100%}

.stu-elem-block label{
    display: block;
    width: 100%;
}


ul.stu-form-nav li a {
    text-decoration: none;
    color: rgba(0,0,0,.48);
    display: block;
    padding: 20px 25px;
    cursor: pointer;
    background-color: #f7f7f7;
    border-bottom: solid 1px rgba(0,0,0,.08);
    font-weight: bold;
}
ul.stu-form-nav li a span {
    display: block;
    text-align: center;
    width: 30px;
    margin: 0 auto 10px;
}

ul.stu-form-nav li:last-child a {
    border-bottom: none;
}
ul.stu-form-nav {
    margin: 0;
}
ul.stu-form-nav li {
    margin: 0;
}
ul.stu-form-nav li a:hover, ul.stu-form-nav li a.stu-active-nav {
    background: #fff;
    color: #df6767;
    border-color: #b85e5e;
}
ul.stu-form-nav li a:focus {
    box-shadow: none;
}
.stu-field input[type="text"] {
    width: 500px;
    max-width: 100%;
}
.stu-field textarea {
    width: 500px;
    height:100px;
    max-width: 100%;
}
.stu-component-head .dashicons {
    float: right;
}
.stu-component-head h4 {
    float: left;
}
.stu-component-head h4 {
    float: left;
    width: 100%;
    margin: 0;
    cursor: pointer;
    padding: 15px;
}

.stu-component-body {
    border: 1px solid rgba(0,0,0,.06);
    border-top: none;
    padding: 24px;
    display:none;
}
.stu-form-each-component {
    margin-bottom: 5px;
}
.stu-form-message {
    position: fixed;
    top: 20px;
    left: 40%;
    z-index: 999999;
}
p.stu-ajax {
    background: #29B7FF;
}
.stu-form-message > p{
    padding:10px;color:#fff;
}
p.stu-error {
    background: #FF6969;
}
p.stu-info {
    background: #27ae60;
}
p.stu-ajax .stu-ajax-loader {
    margin-bottom: -4px;
    margin-right: 5px;
}

.stu-form-lists-table a.stu-edit,
.stu-form-lists-table a.stu-delete,
.stu-form-lists-table a.stu-preview,
.stu-form-lists-table a.stu-copy {
    height: 20px;
    display: inline-block;
    color: #fff;
    -ms-border-radius: 3px;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    margin: 0 2px;
    font-size: 0;
    width: 25px;
    height: 25px;
    position: relative;
}
.stu-form-lists-table a.stu-edit:before,
.stu-form-lists-table a.stu-delete:before,
.stu-form-lists-table a.stu-preview:before,
.stu-form-lists-table a.stu-copy:before {
    content: '';
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-size: 16px;
    color: rgba(0,0,0,0.68);
    left: 6px;
    top: 2px;
    transition: all .3s ease;
}
.stu-form-lists-table a.stu-edit:before {
    content: '\f044';
    left: 5px;
}
.stu-form-lists-table a.stu-delete:before {
    content: '\f2ed';
    font-size: 14px;
}
.stu-form-lists-table a.stu-preview:before {
    content: '\f06e';
    font-size: 14px;
}
.stu-form-lists-table a.stu-copy:before {
    content: '\f0c5';
    font-size: 13px;
    left: 5px;
}
.stu-form-lists-table a.stu-edit {
    color: #27ae60;
}
.stu-form-lists-table a.stu-preview {
    color: #e2ad33;
}
.stu-form-lists-table a.stu-copy {
    color: #0073aa;
}
.stu-form-lists-table a.stu-delete:before{
    color: #FF6969;
}
.stu-form-lists-table a.stu-edit:hover,
.stu-form-lists-table a.stu-delete:hover,
.stu-form-lists-table a.stu-preview:hover,
.stu-form-lists-table a.stu-copy:hover {
    background: transparent;
}
.stu-form-lists-table a.stu-edit:hover:before {
    color: #27ae60;
}
.stu-form-lists-table a.stu-delete:hover:before {
    color: #FF6969;
}
.stu-form-lists-table a.stu-preview:hover:before {
    color: #e2ad33;
}
.stu-form-lists-table a.stu-copy:hover:before {
    color: #0073aa;
}
input.stu-button-primary {
    background: #27ae60;
    padding: 8px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #27ae60;
    text-decoration: none;
}

.stu-button-primary:hover {
    background: transparent;
    color: #27ae60;
}


input.stu-button-white{
    background: white;
    padding: 0 25px;
    line-height: 40px;
    text-transform: uppercase;
    color: #df6767;
    border-radius: 44px;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease;
    border: none;
    font-weight: bold;
    font-size: 11px;
}

input.stu-button-red{
    background: #ae513e;
    padding: 0 25px;
    line-height: 40px;
    text-transform: uppercase;
    color: white;
    border-radius: 44px;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease;
    border: none;
    font-weight: bold;
    font-size: 11px;
}

input.stu-button-orange{
    background: #eab634;
    padding: 0 25px;
    line-height: 40px;
    text-transform: uppercase;
    color: white;
    border-radius: 44px;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease;
    border: none;
    font-weight: bold;
    font-size: 11px;
}

input.stu-button-white:hover,
input.stu-button-red:hover,
input.stu-button-orange:hover{
    background-color: rgba(0,0,0,.48);
    color: white;
}

.stu-export-wrap{margin:20px 0;}
.stu-export-wrap form select {
    height: 40px;
    margin-top: -2px;
}
.stu-export-wrap > form {
    display: inline-block;
}

.stu-export-wrap a{
    display: block;
    float: right;
    text-decoration: none;
}
span.stu-shortcode-preview {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    background: #eee;
    max-width: 500px;
    min-width: 230px;
    display: inline-block;
    color: rgba(0,0,0,.8);
    vertical-align: top;
}
.stu-clipboard-copy{
    cursor: pointer;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(0,0,0,.14);
    color: rgba(0,0,0,.48);
    display: inline-block;
    margin-left: -3px;
    font-size: 16px;
}
.stu-image-preview {
    margin-top: 10px;
}
.stu-image-preview img {
    max-width: 200px;
}


.stu-wrap table.widefat{
    border:none;
    background-color: transparent;
    border-collapse:separate;
    border-spacing:0 8px;
    table-layout: auto;
    box-shadow: none;
}

.stu-wrap .widefat thead tr th{font-weight: bold;text-transform: uppercase;color:rgba(0,0,0,.68);font-size: 12px;padding: 15px;border: none}
.stu-wrap .widefat tfoot tr th{font-weight: bold;text-transform: uppercase;color:rgba(0,0,0,.68);font-size: 12px;padding: 15px;border: none}

.stu-wrap .widefat tbody tr{
    background-color: rgba(255,255,255,.68);
}
.stu-wrap .widefat tbody td{
    padding: 15px;
    vertical-align: middle;

}
.stu-wrap .widefat tbody td:last-child{width: 168px;}

.stu-form-wrap{
    height: calc(100vh - 200px);
    height: -webkit-calc(100vh - 200px);
    overflow: hidden;
    overflow-y: auto;
}

.stu-form-nav-wrap {
    max-width:120px;
    min-width:120px;
    text-align: center;
    flex: 1;
}

.stu-form-add-block{
    margin: 30px 0 0;
    flex: 2;
}

.stu-settings-section-wrap {
    width: 100%;
    background: #fff;
    min-height:300px;
    padding: 34px;
}


.stu-settings-section-wrap .stu-field input[type="text"]{
    height: 40px;
    line-height: 40px;
}

.stu-form-add-block form{
    display: flex;
}
p.description{
    font-size: 12px;
    max-width: 500px;
}

.stu-field-wrap select{
    height: 40px;
    width: 100%;
    max-width: 500px;
}

input.stu-file-uploader{
    border: none !important;
    height: 40px !important;
    background-color: #19b989 !important;
    color: white !important;
}

.stu-component-head{
    display: flex;
    background: rgba(0,0,0,.06);
    position: relative;
}

.stu-component-head h4{position: relative;z-index: 5}
.stu-component-head .dashicons{position: absolute;z-index: 2;top: 15px;right: 15px;}

/*Toogle Btn*/
.stu-checkbox-toggle{
    position: relative;
}

.stu-checkbox-toggle >input{
    opacity: 0;
    position: absolute;
    width: 44px;
    height: 24px;
    z-index: 4;
}


.stu-checkbox-toggle label{
    background-color: #e1e1e1;
    display: inline-block;
    height: 24px;
    width: 44px;
    border-radius: 34px;
    position: relative;
    transition: all .3s ease;
    z-index: 2;
}
.stu-checkbox-toggle label:before{
    content:'';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #f4f4f4;
    position: absolute;
    top:2px;
    left: 2px;
    transition: all .3s ease;
}

.stu-checkbox-toggle input[type="checkbox"]:checked + label{
    background-color: #19b989;
}
.stu-checkbox-toggle input[type="checkbox"]:checked + label:before{
    left: 22px;
}

.stu-wrap .wp-picker-container .wp-color-result.button{height: 34px;}
.stu-wrap .wp-color-result-text{line-height: 33px;}
.stu-wrap input.stu-color-picker{height: 35px !important;line-height: 35px !important;}
.stu-mailchimp-api-response {
    margin-top: 20px;
    background: #eee;
    padding: 5px;
    border-left: 5px solid #bf0d0d;
}
span.stu-mailchimp-status,span.stu-constant_contact-status{
    color: #fff;
    padding: 2px 5px;
}
span.stu-mailchimp-status.stu-mc-disconnected,span.stu-constant_contact-status.stu-cc-disconnected {
    background: #bf0d0d;
    
}
span.stu-mailchimp-status.stu-mc-connected,span.stu-constant_contact-status.stu-cc-connected {
    background: #19b989;
}
input[type="button"].button-secondary.stu-clear-log-trigger{display:block;}
label.stu-block {
    display: block;
    margin-bottom: 10px;
}
.stu-hooks-wrap{
    height: 244px;
    overflow-y: auto;
    border: 1px solid #eee;
}
.stu-hooks-wrap pre {
    background: #fff;
    padding: 5px;
    border-left: 5px solid #19b989;
}
ul.stu-bullets{padding-left: 12px;}
ul.stu-bullets li{list-style: disc}

.stu-preview-img-wrapper{
    /*background-color: #f1f1f1;*/
    background-color: #011c15;
    padding: 40px;
    text-align: center;
    color: white;
    max-width: 700px;
    margin-top: 18px;
}

.stu-preview-img-wrapper{
    text-align: center;
}

.stu-preview-img-wrapper p{font-size: 16px;margin-bottom: 24px;}
.stu-preview-img-wrapper img{max-width: 84%;height: auto;box-shadow: rgba(0,0,0,.2) 0 0 24px;}

.stu-content-block{
    background-color: white;
    padding: 38px;
    box-shadow: rgba(0,0,0,.04) 0 0 18px;
    margin-bottom: 24px;
}
.stu-content-block h2{margin-top: 0;}

.stu-custom-table{display: flex;flex-wrap: wrap;max-width: 500px;margin-bottom: 15px;}
.stu-each-list{flex:0 0 100%;display: flex;border-bottom: solid 1px rgba(0,0,0,.06)}
.stu-each-list > span{flex: 1;max-width: 50%;padding: 8px 20px;}
/*.stu-each-list span:first-child{max-width: 120px;flex: 1}*/
.stu-list-head{background-color: rgba(0,0,0,.08);}



.stu-sub-header{display: inline-block;vertical-align: top; margin-top: 27px;}

input.button-secondary.stu-alias-force-edit {
    height: 40px;
}

.stu-content-sub-block {
    margin-top: 40px;
}


.stu-form-message {
    position: fixed;
    top: 16px;
    left: 182px;
    z-index: 999999;
    width: auto;
    right: 20px;
}

p.stu-info {
    background: #c2eed5;
    text-align: center;
    font-size: 16px;
    color: #379b3b;
}

p.stu-info i{margin-right: 14px;}

p.stu-error {
    background: #f2c9c9;
    text-align: center;
    font-size: 16px;
    color: #b54936;
}

p.stu-error i{margin-right: 14px;}

p.stu-ajax {
    background: #CAE3F0;
    text-align: center;
    font-size: 16px;
    color: #1b8eca;
}

.stu-display-none{display:none;}

.stu-unallowed-email-domains-list .stu-each-domain input[type="text"] {
    height: 30px;
}
.stu-each-domain {
    margin-bottom: 15px;
}
span.dashicons.dashicons-trash.stu-remove-domain-trigger,span.dashicons.dashicons-trash.stu-remove-blacklisted-email-trigger {
    margin-top: 4px;
    margin-left: 10px;
    cursor: pointer;
}
.stu-each-blacklisted-email input[type="email"]{
    width:500px;
    height:30px;
}
.stu-each-blacklisted-email {
    margin-bottom: 15px;
}