
@import url('https://fonts.googleapis.com/css?family=Archivo:400,500,600,700&display=swap');
html{margin-top: 0 !important;}
body:before{display:none !important;}
body:after{display:none !important;}
body{background-color: #f1f1f1 !important;margin-top:-30px !important;}

.stu-form-preview-wrap{max-width: 1280px;margin: 0 auto}
.stu-preview-subtitle{width: 100%;text-align: center;display: block;font-family: 'Archivo', sans-serif !important;}
.stu-preview-subtitle a { display: inline-block;line-height: 38px;padding: 0 20px;border-radius: 44px;background-color: rgba(0,0,0,.1);color: rgba(0,0,0,.68) !important;margin-top: 30px;font-size: 12px;text-transform: uppercase;font-weight: 500;}
.stu-preview-note{font-family: 'Archivo', sans-serif !important;font-size: 16px; line-height: 1;text-align: center;}
.stu-preview-title-wrap{font-family: 'Archivo', sans-serif !important;text-align: center;font-size: 68px;margin-bottom: 10px;line-height: 1;}

.stu-preview-head-wrap{
    background-color: #df6767;
    padding: 40px;
    margin-bottom: 40px;
    color: white;
}
.stu-form-preview-wrap .stu-form-wrap{
    margin: 0 auto;
    box-shadow: rgba(0,0,0,.18) 0 0 24px;
}


.stu-form-preview-wrap .stu-popup-outerwrap{text-align: center}
.stu-form-preview-wrap  .stu-popup-innerwrap .stu-popup-contetn-wrap .stu-popup-close{padding-top:6px;}