.stu-tinymce-overlay {
    position: absolute;
    background: #222;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    opacity: 0.75;
}
.stu-tinymce-popup-content {
    background: #fff;
    position: fixed;
    top: 40%;
    text-align: center;
    z-index: 9999;
    left: 40%;
    padding: 20px 40px 50px 40px;
}
.stu-tinymce-popup-close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 22px;
    cursor: pointer;
}
.stu-tinymce-popup{display:none;}