.stu-item-flex, .stu-form-wrap .both-fields-wrap, .stu-popup-innerwrap .stu-popup-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.stu-hidden-item {
  display: none; }

.stu-rounded {
  border-radius: 68px !important; }

.stu-edge-curve {
  border-radius: 4px !important; }

.uppercase {
  text-transform: uppercase; }

.stu-pos-rel {
  position: relative; }

.stu-z-i {
  z-index: 9; }

.has-pre-icon {
  position: relative; }
  .has-pre-icon i {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 18px;
    color: inherit;
    opacity: 0.48; }
  .has-pre-icon input[type="text"],
  .has-pre-icon input[type="email"] {
    padding-right: 34px !important;
    color: inherit; }

#svg-filter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

.stu-form-submit {
  width: 100%;
  transition: all .3s ease !important;
  border: none !important;
  cursor: pointer; }

.stu-main-outer-wrap .stu-blur-overlay {
  position: relative;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  text-align: center; }

.stu-content-locked {
  position: relative;
  max-height: 100%;
  min-height: 680px;
  overflow: hidden; }
  .stu-content-locked:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.94));
    z-index: 4; }
  .stu-content-locked .stu-lock-content {
    -webkit-filter: url(#svg-blur);
    filter: url(#svg-blur); }

.stu-unlock-label {
  margin-bottom: 20px; }

.stu-unlock-form-wrap {
  padding: 0 20px 40px; }

.stu-unlock-button {
  margin-top: 15px; }

.stu-form-wrap {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Poppins";
  width: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  box-shadow: rgba(0, 0, 0, 0.24) 0 0 24px; }
  .stu-form-wrap * {
    box-sizing: border-box; }
  .stu-form-wrap img {
    box-shadow: none !important; }
  .stu-form-wrap form {
    padding: 0;
    border: none;
    margin: 0; }
  .stu-form-wrap input[type="submit"],
  .stu-form-wrap input[type="text"],
  .stu-form-wrap input[type="email"],
  .stu-form-wrap input[type="checkbox"] {
    margin: 0;
    box-shadow: none;
    text-shadow: none;
    outline: none;
    border: none;
    border-radius: 0; }
  .stu-form-wrap .stu-icon-holder img {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
    max-width: 144px;
    height: auto; }
  .stu-form-wrap h2.stu-heading-text {
    font-family: 'BarlowRegular', serif !important;
    font-weight: 400;
    font-size: 2.1rem;
    margin: 0 0 20px 0;
    line-height: 1;
    color: inherit !important; }
    .stu-form-wrap * {
      font-family: 'BarlowRegular', serif !important;
    }
    .stu-form-wrap h2.stu-heading-text:before, .stu-form-wrap h2.stu-heading-text:after {
      display: none; }
  .stu-form-wrap p.stu-heading-paragraph {
    font-family: inherit;
    font-weight: 400;
    font-size: 1em;
    margin: 0 0 20px 0;
    line-height: 1.4; }
  .stu-form-wrap p.stu-check-box-text {
    font-weight: 400;
    font-size: 0.9em; }
  .stu-form-wrap .stu-check-box-text {
    margin-bottom: 20px;
    line-height: 1.4; }
    .stu-form-wrap .stu-check-box-text label {
      color: inherit;
      font-weight: 300;
      font-size: 12px; }
  .stu-form-wrap p.stu-note,
  .stu-form-wrap .stu-footer-text {
    font-family: inherit;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.4; }
  .stu-form-wrap .stu-footer-text {
    margin-top: 20px;
    padding: 0 20px;
    font-size: 12px; }
  .stu-form-wrap input[type="text"],
  .stu-form-wrap input[type="email"] {
    font-family: inherit;
    font-size: 1em;
    width: 100%;
    line-height: 1;
    padding: 15px 18px;
    border: solid 1px black;
    transition: all .3s ease;
    color: inherit;
    height: 48px;
    box-shadow: none; }
    .stu-form-wrap input[type="text"]:focus,
    .stu-form-wrap input[type="email"]:focus {
      outline: none; }
    .stu-form-wrap input[type="text"].stu-underline,
    .stu-form-wrap input[type="email"].stu-underline {
      background-color: transparent;
      border: none;
      border-bottom: solid 1px rgba(0, 0, 0, 0.28); }
  .stu-form-wrap ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: inherit;
    opacity: 0.68;
    /* Firefox */ }
  .stu-form-wrap :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: inherit;
    opacity: 0.68; }
  .stu-form-wrap ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: inherit;
    opacity: 0.68; }
  .stu-form-wrap .both-fields-wrap {
    margin-bottom: 20px; }
  .stu-form-wrap .stu-field-wrap {
    flex: 1; }
  .stu-form-wrap .stu-btn-parent {
    flex: 1;
    max-width: 80%; }
  .stu-form-wrap .stu-check-box-text {
    margin-bottom: 20px; }
  .stu-form-wrap .stu-form-submit {
    margin-bottom: 20px;
    border-radius: 0;
    background-color: #ff654b;
    color: inherit;
    font-size: 14px !important;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: none;
    width: auto; }
    .stu-form-wrap .stu-form-submit:hover {
      background-color: inherit;
      color: inherit; }
  .stu-form-wrap .stu-footer-text {
    font-style: italic;
    color: inherit; }
  .stu-form-wrap .stu-form-message {
    padding: 0 20px;
    line-height: 34px;
    font-size: 0.9em;
    text-align: center; }
    .stu-form-wrap .stu-form-message.stu-error {
      background-color: #c45151;
      color: white;
      font-size: 12px; }
    .stu-form-wrap .stu-form-message.stu-success {
      background-color: #74ba55;
      color: white; }
  .stu-form-wrap .stu-form-submit {
    margin-bottom: 0; }
  .stu-form-wrap .stu-terms-agreement {
    width: 14px;
    height: 13px;
    vertical-align: middle;
    margin-top: -3px !important; }
  .stu-form-wrap .button,
  .stu-form-wrap button,
  .stu-form-wrap input[type="button"],
  .stu-form-wrap input[type="reset"],
  .stu-form-wrap input[type="submit"] {
    height: 48px;
    line-height: 48px;
    padding: 0 20px; }
  .stu-form-wrap.stu-template-1, .stu-form-wrap.stu-template-2, .stu-form-wrap.stu-template-3, .stu-form-wrap.stu-template-4, .stu-form-wrap.stu-template-5, .stu-form-wrap.stu-template-6, .stu-form-wrap.stu-template-7, .stu-form-wrap.stu-template-8, .stu-form-wrap.stu-template-9, .stu-form-wrap.stu-template-10, .stu-form-wrap.stu-template-11, .stu-form-wrap.stu-template-12, .stu-form-wrap.stu-template-13, .stu-form-wrap.stu-template-14, .stu-form-wrap.stu-template-15, .stu-form-wrap.stu-template-16, .stu-form-wrap.stu-template-17, .stu-form-wrap.stu-template-18, .stu-form-wrap.stu-template-19, .stu-form-wrap.stu-template-20 {
    background-color: white;
    text-align: center;
    max-width: 680px; }
    .stu-form-wrap.stu-template-1 img, .stu-form-wrap.stu-template-2 img, .stu-form-wrap.stu-template-3 img, .stu-form-wrap.stu-template-4 img, .stu-form-wrap.stu-template-5 img, .stu-form-wrap.stu-template-6 img, .stu-form-wrap.stu-template-7 img, .stu-form-wrap.stu-template-8 img, .stu-form-wrap.stu-template-9 img, .stu-form-wrap.stu-template-10 img, .stu-form-wrap.stu-template-11 img, .stu-form-wrap.stu-template-12 img, .stu-form-wrap.stu-template-13 img, .stu-form-wrap.stu-template-14 img, .stu-form-wrap.stu-template-15 img, .stu-form-wrap.stu-template-16 img, .stu-form-wrap.stu-template-17 img, .stu-form-wrap.stu-template-18 img, .stu-form-wrap.stu-template-19 img, .stu-form-wrap.stu-template-20 img {
      border: none; }
    .stu-form-wrap.stu-template-1 h2.stu-heading-text, .stu-form-wrap.stu-template-2 h2.stu-heading-text, .stu-form-wrap.stu-template-3 h2.stu-heading-text, .stu-form-wrap.stu-template-4 h2.stu-heading-text, .stu-form-wrap.stu-template-5 h2.stu-heading-text, .stu-form-wrap.stu-template-6 h2.stu-heading-text, .stu-form-wrap.stu-template-7 h2.stu-heading-text, .stu-form-wrap.stu-template-8 h2.stu-heading-text, .stu-form-wrap.stu-template-9 h2.stu-heading-text, .stu-form-wrap.stu-template-10 h2.stu-heading-text, .stu-form-wrap.stu-template-11 h2.stu-heading-text, .stu-form-wrap.stu-template-12 h2.stu-heading-text, .stu-form-wrap.stu-template-13 h2.stu-heading-text, .stu-form-wrap.stu-template-14 h2.stu-heading-text, .stu-form-wrap.stu-template-15 h2.stu-heading-text, .stu-form-wrap.stu-template-16 h2.stu-heading-text, .stu-form-wrap.stu-template-17 h2.stu-heading-text, .stu-form-wrap.stu-template-18 h2.stu-heading-text, .stu-form-wrap.stu-template-19 h2.stu-heading-text, .stu-form-wrap.stu-template-20 h2.stu-heading-text {
      color: inherit;
      font-weight: 600; }
    .stu-form-wrap.stu-template-1 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-1 .stu-check-box-text, .stu-form-wrap.stu-template-2 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-2 .stu-check-box-text, .stu-form-wrap.stu-template-3 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-3 .stu-check-box-text, .stu-form-wrap.stu-template-4 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-4 .stu-check-box-text, .stu-form-wrap.stu-template-5 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-5 .stu-check-box-text, .stu-form-wrap.stu-template-6 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-6 .stu-check-box-text, .stu-form-wrap.stu-template-7 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-7 .stu-check-box-text, .stu-form-wrap.stu-template-8 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-8 .stu-check-box-text, .stu-form-wrap.stu-template-9 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-9 .stu-check-box-text, .stu-form-wrap.stu-template-10 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-10 .stu-check-box-text, .stu-form-wrap.stu-template-11 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-11 .stu-check-box-text, .stu-form-wrap.stu-template-12 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-12 .stu-check-box-text, .stu-form-wrap.stu-template-13 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-13 .stu-check-box-text, .stu-form-wrap.stu-template-14 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-14 .stu-check-box-text, .stu-form-wrap.stu-template-15 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-15 .stu-check-box-text, .stu-form-wrap.stu-template-16 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-16 .stu-check-box-text, .stu-form-wrap.stu-template-17 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-17 .stu-check-box-text, .stu-form-wrap.stu-template-18 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-18 .stu-check-box-text, .stu-form-wrap.stu-template-19 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-19 .stu-check-box-text, .stu-form-wrap.stu-template-20 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-20 .stu-check-box-text {
      color: inherit;
      opacity: 0.88; }
      .stu-form-wrap.stu-template-1 p.stu-heading-paragraph label,
      .stu-form-wrap.stu-template-1 .stu-check-box-text label, .stu-form-wrap.stu-template-2 p.stu-heading-paragraph label,
      .stu-form-wrap.stu-template-2 .stu-check-box-text label, .stu-form-wrap.stu-template-3 p.stu-heading-paragraph label,
      .stu-form-wrap.stu-template-3 .stu-check-box-text label, .stu-form-wrap.stu-template-4 p.stu-heading-paragraph label,
      .stu-form-wrap.stu-template-4 .stu-check-box-text label, .stu-form-wrap.stu-template-5 p.stu-heading-paragraph label,
      .stu-form-wrap.stu-template-5 .stu-check-box-text label, .stu-form-wrap.stu-template-6 p.stu-heading-paragraph label,
      .stu-form-wrap.stu-template-6 .stu-check-box-text label, .stu-form-wrap.stu-template-7 p.stu-heading-paragraph label,
      .stu-form-wrap.stu-template-7 .stu-check-box-text label, .stu-form-wrap.stu-template-8 p.stu-heading-paragraph label,
      .stu-form-wrap.stu-template-8 .stu-check-box-text label, .stu-form-wrap.stu-template-9 p.stu-heading-paragraph label,
      .stu-form-wrap.stu-template-9 .stu-check-box-text label, .stu-form-wrap.stu-template-10 p.stu-heading-paragraph label,
      .stu-form-wrap.stu-template-10 .stu-check-box-text label, .stu-form-wrap.stu-template-11 p.stu-heading-paragraph label,
      .stu-form-wrap.stu-template-11 .stu-check-box-text label, .stu-form-wrap.stu-template-12 p.stu-heading-paragraph label,
      .stu-form-wrap.stu-template-12 .stu-check-box-text label, .stu-form-wrap.stu-template-13 p.stu-heading-paragraph label,
      .stu-form-wrap.stu-template-13 .stu-check-box-text label, .stu-form-wrap.stu-template-14 p.stu-heading-paragraph label,
      .stu-form-wrap.stu-template-14 .stu-check-box-text label, .stu-form-wrap.stu-template-15 p.stu-heading-paragraph label,
      .stu-form-wrap.stu-template-15 .stu-check-box-text label, .stu-form-wrap.stu-template-16 p.stu-heading-paragraph label,
      .stu-form-wrap.stu-template-16 .stu-check-box-text label, .stu-form-wrap.stu-template-17 p.stu-heading-paragraph label,
      .stu-form-wrap.stu-template-17 .stu-check-box-text label, .stu-form-wrap.stu-template-18 p.stu-heading-paragraph label,
      .stu-form-wrap.stu-template-18 .stu-check-box-text label, .stu-form-wrap.stu-template-19 p.stu-heading-paragraph label,
      .stu-form-wrap.stu-template-19 .stu-check-box-text label, .stu-form-wrap.stu-template-20 p.stu-heading-paragraph label,
      .stu-form-wrap.stu-template-20 .stu-check-box-text label {
        float: none; }
    .stu-form-wrap.stu-template-1 .stu-field-wrap.name-field, .stu-form-wrap.stu-template-2 .stu-field-wrap.name-field, .stu-form-wrap.stu-template-3 .stu-field-wrap.name-field, .stu-form-wrap.stu-template-4 .stu-field-wrap.name-field, .stu-form-wrap.stu-template-5 .stu-field-wrap.name-field, .stu-form-wrap.stu-template-6 .stu-field-wrap.name-field, .stu-form-wrap.stu-template-7 .stu-field-wrap.name-field, .stu-form-wrap.stu-template-8 .stu-field-wrap.name-field, .stu-form-wrap.stu-template-9 .stu-field-wrap.name-field, .stu-form-wrap.stu-template-10 .stu-field-wrap.name-field, .stu-form-wrap.stu-template-11 .stu-field-wrap.name-field, .stu-form-wrap.stu-template-12 .stu-field-wrap.name-field, .stu-form-wrap.stu-template-13 .stu-field-wrap.name-field, .stu-form-wrap.stu-template-14 .stu-field-wrap.name-field, .stu-form-wrap.stu-template-15 .stu-field-wrap.name-field, .stu-form-wrap.stu-template-16 .stu-field-wrap.name-field, .stu-form-wrap.stu-template-17 .stu-field-wrap.name-field, .stu-form-wrap.stu-template-18 .stu-field-wrap.name-field, .stu-form-wrap.stu-template-19 .stu-field-wrap.name-field, .stu-form-wrap.stu-template-20 .stu-field-wrap.name-field {
      margin-right: 1px; }
    .stu-form-wrap.stu-template-1 input[type="text"],
    .stu-form-wrap.stu-template-1 input[type="email"], .stu-form-wrap.stu-template-2 input[type="text"],
    .stu-form-wrap.stu-template-2 input[type="email"], .stu-form-wrap.stu-template-3 input[type="text"],
    .stu-form-wrap.stu-template-3 input[type="email"], .stu-form-wrap.stu-template-4 input[type="text"],
    .stu-form-wrap.stu-template-4 input[type="email"], .stu-form-wrap.stu-template-5 input[type="text"],
    .stu-form-wrap.stu-template-5 input[type="email"], .stu-form-wrap.stu-template-6 input[type="text"],
    .stu-form-wrap.stu-template-6 input[type="email"], .stu-form-wrap.stu-template-7 input[type="text"],
    .stu-form-wrap.stu-template-7 input[type="email"], .stu-form-wrap.stu-template-8 input[type="text"],
    .stu-form-wrap.stu-template-8 input[type="email"], .stu-form-wrap.stu-template-9 input[type="text"],
    .stu-form-wrap.stu-template-9 input[type="email"], .stu-form-wrap.stu-template-10 input[type="text"],
    .stu-form-wrap.stu-template-10 input[type="email"], .stu-form-wrap.stu-template-11 input[type="text"],
    .stu-form-wrap.stu-template-11 input[type="email"], .stu-form-wrap.stu-template-12 input[type="text"],
    .stu-form-wrap.stu-template-12 input[type="email"], .stu-form-wrap.stu-template-13 input[type="text"],
    .stu-form-wrap.stu-template-13 input[type="email"], .stu-form-wrap.stu-template-14 input[type="text"],
    .stu-form-wrap.stu-template-14 input[type="email"], .stu-form-wrap.stu-template-15 input[type="text"],
    .stu-form-wrap.stu-template-15 input[type="email"], .stu-form-wrap.stu-template-16 input[type="text"],
    .stu-form-wrap.stu-template-16 input[type="email"], .stu-form-wrap.stu-template-17 input[type="text"],
    .stu-form-wrap.stu-template-17 input[type="email"], .stu-form-wrap.stu-template-18 input[type="text"],
    .stu-form-wrap.stu-template-18 input[type="email"], .stu-form-wrap.stu-template-19 input[type="text"],
    .stu-form-wrap.stu-template-19 input[type="email"], .stu-form-wrap.stu-template-20 input[type="text"],
    .stu-form-wrap.stu-template-20 input[type="email"] {
      color: inherit;
      font-weight: 400;
      font-size: 13px;
      text-align: inherit;
      background-color: rgba(0, 0, 0, 0.08);
      border: none; }
      .stu-form-wrap.stu-template-1 input[type="text"]:focus,
      .stu-form-wrap.stu-template-1 input[type="email"]:focus, .stu-form-wrap.stu-template-2 input[type="text"]:focus,
      .stu-form-wrap.stu-template-2 input[type="email"]:focus, .stu-form-wrap.stu-template-3 input[type="text"]:focus,
      .stu-form-wrap.stu-template-3 input[type="email"]:focus, .stu-form-wrap.stu-template-4 input[type="text"]:focus,
      .stu-form-wrap.stu-template-4 input[type="email"]:focus, .stu-form-wrap.stu-template-5 input[type="text"]:focus,
      .stu-form-wrap.stu-template-5 input[type="email"]:focus, .stu-form-wrap.stu-template-6 input[type="text"]:focus,
      .stu-form-wrap.stu-template-6 input[type="email"]:focus, .stu-form-wrap.stu-template-7 input[type="text"]:focus,
      .stu-form-wrap.stu-template-7 input[type="email"]:focus, .stu-form-wrap.stu-template-8 input[type="text"]:focus,
      .stu-form-wrap.stu-template-8 input[type="email"]:focus, .stu-form-wrap.stu-template-9 input[type="text"]:focus,
      .stu-form-wrap.stu-template-9 input[type="email"]:focus, .stu-form-wrap.stu-template-10 input[type="text"]:focus,
      .stu-form-wrap.stu-template-10 input[type="email"]:focus, .stu-form-wrap.stu-template-11 input[type="text"]:focus,
      .stu-form-wrap.stu-template-11 input[type="email"]:focus, .stu-form-wrap.stu-template-12 input[type="text"]:focus,
      .stu-form-wrap.stu-template-12 input[type="email"]:focus, .stu-form-wrap.stu-template-13 input[type="text"]:focus,
      .stu-form-wrap.stu-template-13 input[type="email"]:focus, .stu-form-wrap.stu-template-14 input[type="text"]:focus,
      .stu-form-wrap.stu-template-14 input[type="email"]:focus, .stu-form-wrap.stu-template-15 input[type="text"]:focus,
      .stu-form-wrap.stu-template-15 input[type="email"]:focus, .stu-form-wrap.stu-template-16 input[type="text"]:focus,
      .stu-form-wrap.stu-template-16 input[type="email"]:focus, .stu-form-wrap.stu-template-17 input[type="text"]:focus,
      .stu-form-wrap.stu-template-17 input[type="email"]:focus, .stu-form-wrap.stu-template-18 input[type="text"]:focus,
      .stu-form-wrap.stu-template-18 input[type="email"]:focus, .stu-form-wrap.stu-template-19 input[type="text"]:focus,
      .stu-form-wrap.stu-template-19 input[type="email"]:focus, .stu-form-wrap.stu-template-20 input[type="text"]:focus,
      .stu-form-wrap.stu-template-20 input[type="email"]:focus {
        background-color: rgba(0, 0, 0, 0.1); }
    .stu-form-wrap.stu-template-1 .stu-footer-text, .stu-form-wrap.stu-template-2 .stu-footer-text, .stu-form-wrap.stu-template-3 .stu-footer-text, .stu-form-wrap.stu-template-4 .stu-footer-text, .stu-form-wrap.stu-template-5 .stu-footer-text, .stu-form-wrap.stu-template-6 .stu-footer-text, .stu-form-wrap.stu-template-7 .stu-footer-text, .stu-form-wrap.stu-template-8 .stu-footer-text, .stu-form-wrap.stu-template-9 .stu-footer-text, .stu-form-wrap.stu-template-10 .stu-footer-text, .stu-form-wrap.stu-template-11 .stu-footer-text, .stu-form-wrap.stu-template-12 .stu-footer-text, .stu-form-wrap.stu-template-13 .stu-footer-text, .stu-form-wrap.stu-template-14 .stu-footer-text, .stu-form-wrap.stu-template-15 .stu-footer-text, .stu-form-wrap.stu-template-16 .stu-footer-text, .stu-form-wrap.stu-template-17 .stu-footer-text, .stu-form-wrap.stu-template-18 .stu-footer-text, .stu-form-wrap.stu-template-19 .stu-footer-text, .stu-form-wrap.stu-template-20 .stu-footer-text {
      opacity: 0.6; }
    .stu-form-wrap.stu-template-1 .stu-heading-text, .stu-form-wrap.stu-template-2 .stu-heading-text, .stu-form-wrap.stu-template-3 .stu-heading-text, .stu-form-wrap.stu-template-4 .stu-heading-text, .stu-form-wrap.stu-template-5 .stu-heading-text, .stu-form-wrap.stu-template-6 .stu-heading-text, .stu-form-wrap.stu-template-7 .stu-heading-text, .stu-form-wrap.stu-template-8 .stu-heading-text, .stu-form-wrap.stu-template-9 .stu-heading-text, .stu-form-wrap.stu-template-10 .stu-heading-text, .stu-form-wrap.stu-template-11 .stu-heading-text, .stu-form-wrap.stu-template-12 .stu-heading-text, .stu-form-wrap.stu-template-13 .stu-heading-text, .stu-form-wrap.stu-template-14 .stu-heading-text, .stu-form-wrap.stu-template-15 .stu-heading-text, .stu-form-wrap.stu-template-16 .stu-heading-text, .stu-form-wrap.stu-template-17 .stu-heading-text, .stu-form-wrap.stu-template-18 .stu-heading-text, .stu-form-wrap.stu-template-19 .stu-heading-text, .stu-form-wrap.stu-template-20 .stu-heading-text {
      font-size: 26px !important;
      margin-bottom: 5px; }
    .stu-form-wrap.stu-template-1 .stu-heading-paragraph, .stu-form-wrap.stu-template-2 .stu-heading-paragraph, .stu-form-wrap.stu-template-3 .stu-heading-paragraph, .stu-form-wrap.stu-template-4 .stu-heading-paragraph, .stu-form-wrap.stu-template-5 .stu-heading-paragraph, .stu-form-wrap.stu-template-6 .stu-heading-paragraph, .stu-form-wrap.stu-template-7 .stu-heading-paragraph, .stu-form-wrap.stu-template-8 .stu-heading-paragraph, .stu-form-wrap.stu-template-9 .stu-heading-paragraph, .stu-form-wrap.stu-template-10 .stu-heading-paragraph, .stu-form-wrap.stu-template-11 .stu-heading-paragraph, .stu-form-wrap.stu-template-12 .stu-heading-paragraph, .stu-form-wrap.stu-template-13 .stu-heading-paragraph, .stu-form-wrap.stu-template-14 .stu-heading-paragraph, .stu-form-wrap.stu-template-15 .stu-heading-paragraph, .stu-form-wrap.stu-template-16 .stu-heading-paragraph, .stu-form-wrap.stu-template-17 .stu-heading-paragraph, .stu-form-wrap.stu-template-18 .stu-heading-paragraph, .stu-form-wrap.stu-template-19 .stu-heading-paragraph, .stu-form-wrap.stu-template-20 .stu-heading-paragraph {
      font-size: 14px !important;
      margin-bottom: 24px; }
    .stu-form-wrap.stu-template-1 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-2 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-3 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-4 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-5 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-6 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-7 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-8 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-9 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-10 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-11 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-12 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-13 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-14 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-15 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-16 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-17 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-18 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-19 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-20 .stu-unlock-form-wrap {
      padding: 40px;
      max-width: 60%;
      margin: 0 auto;
      text-align: center;
      display: none; }
    .stu-form-wrap.stu-template-1 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-2 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-3 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-4 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-5 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-6 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-7 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-8 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-9 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-10 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-11 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-12 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-13 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-14 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-15 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-16 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-17 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-18 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-19 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-20 .stu-unlock-form-wrap {
      position: relative;
      z-index: 5; }
  .stu-form-wrap.stu-template-1 {
    color: rgba(0, 0, 0, 0.6);
    position: relative;
    padding: 0; }
    .stu-form-wrap.stu-template-1 .top-lines {
      position: absolute;
      top: 0;
      left: 0;
      height: 6px;
      display: flex;
      width: 100%; }
      .stu-form-wrap.stu-template-1 .top-lines span {
        display: block;
        flex: 0 0 33.33%; }
        .stu-form-wrap.stu-template-1 .top-lines span:nth-child(1) {
          background-color: #d9a86f; }
        .stu-form-wrap.stu-template-1 .top-lines span:nth-child(2) {
          background-color: #8fc972; }
        .stu-form-wrap.stu-template-1 .top-lines span:nth-child(3) {
          background-color: #45b1e4; }
    .stu-form-wrap.stu-template-1 .stu-icon-holder {
      text-align: center;
      margin-bottom: 28px; }
      .stu-form-wrap.stu-template-1 .stu-icon-holder i {
        font-size: 38px;
        color: inherit;
        opacity: 0.6; }
    .stu-form-wrap.stu-template-1 .stu-form-submit {
      background-color: gray;
      color: white;
      width: auto;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      min-width: 40%; }
      .stu-form-wrap.stu-template-1 .stu-form-submit:hover {
        background-color: black;
        color: white; }
    .stu-form-wrap.stu-template-1 input[type="text"],
    .stu-form-wrap.stu-template-1 input[type="email"] {
      text-align: inherit;
      background-color: transparent;
      border: solid 1px rgba(0, 0, 0, 0.1); }
      .stu-form-wrap.stu-template-1 input[type="text"]:focus,
      .stu-form-wrap.stu-template-1 input[type="email"]:focus {
        background-color: rgba(0, 0, 0, 0.04); }
    .stu-form-wrap.stu-template-1 .stu-form-loader-1 {
      color: inherit; }
    .stu-form-wrap.stu-template-1 .stu-footer-text {
      background-color: rgba(0, 0, 0, 0.08);
      padding: 15px 20px;
      border-top: solid 1px rgba(0, 0, 0, 0.1); }
    .stu-form-wrap.stu-template-1 .padding {
      padding: 40px 24px 15px; }
    .stu-form-wrap.stu-template-1 .stu-icon-holder {
      padding-top: 30px; }
  .stu-form-wrap.stu-template-2 {
    position: relative;
    padding: 40px 0 0; }
    .stu-form-wrap.stu-template-2 .top-lines {
      position: absolute;
      top: 0;
      left: 0;
      height: 6px;
      display: flex;
      width: 100%; }
      .stu-form-wrap.stu-template-2 .top-lines span {
        display: block;
        flex: 0 0 33.33%; }
        .stu-form-wrap.stu-template-2 .top-lines span:nth-child(1) {
          background-color: #d9a86f; }
        .stu-form-wrap.stu-template-2 .top-lines span:nth-child(2) {
          background-color: #8fc972; }
        .stu-form-wrap.stu-template-2 .top-lines span:nth-child(3) {
          background-color: #45b1e4; }
    .stu-form-wrap.stu-template-2 .both-fields-wrap .stu-field-wrap:first-child {
      margin-bottom: 5px; }
    .stu-form-wrap.stu-template-2 .both-fields-wrap input[type="text"],
    .stu-form-wrap.stu-template-2 .both-fields-wrap input[type="email"] {
      text-align: left; }
    .stu-form-wrap.stu-template-2 .stu-form-loader-1 {
      color: inherit; }
    .stu-form-wrap.stu-template-2 .stu-form-submit {
      background-color: #ff654b;
      color: white; }
      .stu-form-wrap.stu-template-2 .stu-form-submit:hover {
        background-color: black;
        color: white; }
    .stu-form-wrap.stu-template-2 .stu-form-submit {
      width: 100%; }
    .stu-form-wrap.stu-template-2 .stu-heading-text {
      margin-bottom: 5px; }
      .stu-form-wrap.stu-template-2 .stu-heading-text span {
        opacity: 0.6;
        color: inherit;
        margin: 0 15px;
        font-size: 18px; }
    .stu-form-wrap.stu-template-2 .stu-heading-paragraph {
      margin-bottom: 24px; }
    .stu-form-wrap.stu-template-2 .padding {
      padding: 40px 24px 0; }
    .stu-form-wrap.stu-template-2 .stu-footer-text {
      background-color: rgba(0, 0, 0, 0.08);
      padding: 15px 20px;
      border-top: solid 1px rgba(0, 0, 0, 0.1); }
    .stu-form-wrap.stu-template-2 .stu-unlock-form-wrap {
      padding: 0 40px 40px;
      max-width: 60%;
      margin: 0 auto; }
  .stu-form-wrap.stu-template-3 {
    text-align: center;
    background-color: white; }
    .stu-form-wrap.stu-template-3 .both-fields-wrap {
      display: block; }
      .stu-form-wrap.stu-template-3 .both-fields-wrap .name-field {
        margin: 0 0 5px 0; }
    .stu-form-wrap.stu-template-3 .form-contents-wrap {
      display: flex; }
      .stu-form-wrap.stu-template-3 .form-contents-wrap .stu-icon-holder {
        flex: 1;
        max-width: 168px;
        background-color: #df6767; }
      .stu-form-wrap.stu-template-3 .form-contents-wrap .form-holder {
        flex: 2;
        padding: 40px 28px; }
    .stu-form-wrap.stu-template-3 .stu-form-loader-1 {
      color: inherit; }
    .stu-form-wrap.stu-template-3 .stu-footer-text {
      padding: 0; }
    .stu-form-wrap.stu-template-3 .stu-form-submit {
      background-color: #df6767;
      color: white;
      width: auto; }
      .stu-form-wrap.stu-template-3 .stu-form-submit:hover {
        background-color: black;
        color: white; }
    .stu-form-wrap.stu-template-3 .stu-btn-parent {
      max-width: 100%;
      text-align: center; }
    .stu-form-wrap.stu-template-3 .icon {
      margin-top: 100%;
      display: inline-block;
      text-align: center;
      height: 74px;
      width: 74px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.18); }
      .stu-form-wrap.stu-template-3 .icon i {
        color: white;
        line-height: 74px;
        font-size: 24px; }
    .stu-form-wrap.stu-template-3 input[type="text"],
    .stu-form-wrap.stu-template-3 input[type="email"] {
      text-align: left; }
    .stu-form-wrap.stu-template-3 .stu-unlock-form-wrap {
      padding: 40px;
      max-width: 60%;
      margin: 0 auto; }
  .stu-form-wrap.stu-template-4 {
    text-align: left;
    background-color: #df6767;
    color: white; }
    .stu-form-wrap.stu-template-4 .both-fields-wrap {
      display: block; }
      .stu-form-wrap.stu-template-4 .both-fields-wrap .name-field {
        margin: 0 0 5px 0; }
    .stu-form-wrap.stu-template-4 .form-contents-wrap {
      display: flex; }
      .stu-form-wrap.stu-template-4 .form-contents-wrap .stu-icon-holder {
        flex: 1;
        max-width: 240px;
        text-align: center; }
      .stu-form-wrap.stu-template-4 .form-contents-wrap .form-holder {
        flex: 2;
        padding: 40px 28px; }
    .stu-form-wrap.stu-template-4 .stu-form-loader-1 {
      color: inherit; }
    .stu-form-wrap.stu-template-4 .stu-footer-text {
      padding: 0; }
    .stu-form-wrap.stu-template-4 .stu-form-submit {
      text-align: left;
      background-color: white;
      color: #df6767;
      border-radius: 3px;
      width: auto; }
      .stu-form-wrap.stu-template-4 .stu-form-submit:hover {
        background-color: black;
        color: white; }
    .stu-form-wrap.stu-template-4 .stu-btn-parent {
      max-width: 100%; }
    .stu-form-wrap.stu-template-4 .icon {
      margin-top: 64%;
      display: inline-block;
      text-align: center;
      height: 150px;
      width: 150px;
      line-height: 110px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.18);
      padding-top: 12px; }
      .stu-form-wrap.stu-template-4 .icon img {
        display: inline-block;
        max-width: 90px; }
    .stu-form-wrap.stu-template-4 input[type="text"],
    .stu-form-wrap.stu-template-4 input[type="email"] {
      text-align: left; }
    .stu-form-wrap.stu-template-4 .stu-unlock-form-wrap {
      padding-top: 40px; }
  .stu-form-wrap.stu-template-5 {
    text-align: center;
    background-color: #3d3e40;
    color: white;
    padding: 24px 34px;
    position: relative; }
    .stu-form-wrap.stu-template-5 form {
      max-width: 458px;
      margin: 0 auto; }
    .stu-form-wrap.stu-template-5 .top-lines {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 6px;
      display: flex;
      width: 100%; }
      .stu-form-wrap.stu-template-5 .top-lines span {
        display: block;
        flex: 0 0 33.33%; }
        .stu-form-wrap.stu-template-5 .top-lines span:nth-child(1) {
          background-color: #d9a86f; }
        .stu-form-wrap.stu-template-5 .top-lines span:nth-child(2) {
          background-color: #8fc972; }
        .stu-form-wrap.stu-template-5 .top-lines span:nth-child(3) {
          background-color: #45b1e4; }
    .stu-form-wrap.stu-template-5 .stu-form-loader-1 {
      color: inherit; }
    .stu-form-wrap.stu-template-5 .both-fields-wrap {
      display: block; }
      .stu-form-wrap.stu-template-5 .both-fields-wrap .stu-field-wrap:first-child {
        margin-bottom: 5px; }
    .stu-form-wrap.stu-template-5 .stu-form-submit {
      width: auto;
      border-radius: 3px; }
    .stu-form-wrap.stu-template-5 h2.stu-heading-text {
      color: inherit;
      margin-bottom: 5px; }
    .stu-form-wrap.stu-template-5 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-5 .stu-check-box-text {
      color: inherit; }
    .stu-form-wrap.stu-template-5 input[type="text"],
    .stu-form-wrap.stu-template-5 input[type="email"] {
      background-color: rgba(0, 0, 0, 0.14);
      color: inherit;
      text-align: left; }
    .stu-form-wrap.stu-template-5 .stu-form-submit {
      background-color: white;
      color: #df6767; }
      .stu-form-wrap.stu-template-5 .stu-form-submit:hover {
        background-color: rgba(0, 0, 0, 0.68);
        color: white; }
    .stu-form-wrap.stu-template-5 .stu-footer-text {
      color: inherit; }
    .stu-form-wrap.stu-template-5 .icon {
      display: inline-block;
      text-align: center;
      height: 100px;
      width: 100px;
      line-height: 84px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.18);
      padding-top: 18px;
      margin-bottom: 24px; }
      .stu-form-wrap.stu-template-5 .icon img {
        display: inline-block;
        max-width: 50px;
        width: 100%;
        height: auto; }
  .stu-form-wrap.stu-template-6 {
    color: white;
    background-color: #3c6065;
    position: relative;
    padding: 40px 0 0;
    text-align: left; }
    .stu-form-wrap.stu-template-6 .both-fields-wrap .stu-field-wrap:first-child {
      margin-bottom: 5px; }
    .stu-form-wrap.stu-template-6 .both-fields-wrap input[type="text"],
    .stu-form-wrap.stu-template-6 .both-fields-wrap input[type="email"] {
      text-align: left;
      background-color: rgba(255, 255, 255, 0.24); }
    .stu-form-wrap.stu-template-6 .stu-form-loader-1 {
      color: inherit; }
    .stu-form-wrap.stu-template-6 .stu-form-submit {
      background-color: #ecc45c;
      color: white; }
      .stu-form-wrap.stu-template-6 .stu-form-submit:hover {
        background-color: black;
        color: white; }
    .stu-form-wrap.stu-template-6 .stu-form-submit {
      width: 100%; }
    .stu-form-wrap.stu-template-6 .stu-heading-text {
      margin-bottom: 5px; }
      .stu-form-wrap.stu-template-6 .stu-heading-text span {
        opacity: 0.6;
        color: inherit;
        margin: 0 15px;
        font-size: 18px; }
    .stu-form-wrap.stu-template-6 .stu-heading-paragraph {
      margin-bottom: 24px; }
    .stu-form-wrap.stu-template-6 .padding {
      padding: 40px 24px 40px; }
    .stu-form-wrap.stu-template-6 .stu-footer-text {
      padding: 15px 20px;
      margin: 0; }
    .stu-form-wrap.stu-template-6 .bottom-wrap {
      background-color: rgba(0, 0, 0, 0.24); }
    .stu-form-wrap.stu-template-6 .stu-terms-agreement-wrap {
      margin-bottom: 0; }
    .stu-form-wrap.stu-template-6 .two-col-head {
      display: flex;
      align-items: center;
      max-width: 500px;
      margin: 0 auto; }
      .stu-form-wrap.stu-template-6 .two-col-head .left-col {
        flex: 1;
        max-width: 108px; }
        .stu-form-wrap.stu-template-6 .two-col-head .left-col .icon {
          display: inline-block;
          text-align: center;
          height: 100px;
          width: 100px;
          line-height: 84px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.18);
          padding-top: 18px;
          margin-bottom: 24px; }
          .stu-form-wrap.stu-template-6 .two-col-head .left-col .icon img {
            display: inline-block;
            max-width: 50px;
            width: 100%;
            height: auto; }
      .stu-form-wrap.stu-template-6 .two-col-head .right-col {
        flex: 2;
        text-align: center; }
    .stu-form-wrap.stu-template-6 .stu-unlock-button {
      max-width: 40%; }
    .stu-form-wrap.stu-template-6 .stu-unlock-form-wrap {
      padding: 0 40px 40px;
      max-width: 60%;
      margin: 0 auto; }
  .stu-form-wrap.stu-template-7 {
    text-align: center;
    background-color: #1f4e68;
    color: rgba(255, 255, 255, 0.68);
    padding: 20px 0; }
    .stu-form-wrap.stu-template-7 .stu-form-loader-1 {
      color: inherit; }
    .stu-form-wrap.stu-template-7 .stu-form-content-wrap {
      margin: 0 auto;
      max-width: 500px; }
    .stu-form-wrap.stu-template-7 .both-fields-wrap {
      width: 100%; }
      .stu-form-wrap.stu-template-7 .both-fields-wrap > div {
        flex: 1; }
        .stu-form-wrap.stu-template-7 .both-fields-wrap > div.stu-submit-btn-wrap {
          max-width: 48px;
          height: 48px;
          margin-left: 15px; }
          .stu-form-wrap.stu-template-7 .both-fields-wrap > div.stu-submit-btn-wrap button {
            width: 48px;
            height: 48px;
            line-height: 46px;
            padding: 0;
            text-align: center;
            border-radius: 50%; }
      .stu-form-wrap.stu-template-7 .both-fields-wrap .stu-field-wrap:first-child {
        margin-right: 15px; }
    .stu-form-wrap.stu-template-7 h2.stu-heading-text {
      color: inherit; }
    .stu-form-wrap.stu-template-7 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-7 .stu-check-box-text {
      color: inherit; }
    .stu-form-wrap.stu-template-7 .stu-title-wrap {
      padding-left: 40px;
      text-align: left; }
    .stu-form-wrap.stu-template-7 input[type="text"],
    .stu-form-wrap.stu-template-7 input[type="email"] {
      text-align: left;
      background-color: transparent;
      color: inherit;
      border-bottom-color: rgba(255, 255, 255, 0.24);
      border-bottom-style: solid;
      border-bottom-width: 1px; }
      .stu-form-wrap.stu-template-7 input[type="text"]:focus,
      .stu-form-wrap.stu-template-7 input[type="email"]:focus {
        background-color: transparent;
        border-bottom-color: rgba(0, 0, 0, 0.68); }
    .stu-form-wrap.stu-template-7 .stu-form-submit {
      background-color: #ecc45c;
      color: white; }
      .stu-form-wrap.stu-template-7 .stu-form-submit:hover {
        background-color: rgba(0, 0, 0, 0.68);
        color: white; }
    .stu-form-wrap.stu-template-7 .has-pre-icon {
      position: relative; }
      .stu-form-wrap.stu-template-7 .has-pre-icon i {
        position: absolute;
        top: 15px;
        right: auto;
        left: 0;
        font-size: 18px;
        color: inherit; }
      .stu-form-wrap.stu-template-7 .has-pre-icon input[type="text"],
      .stu-form-wrap.stu-template-7 .has-pre-icon input[type="email"] {
        padding-left: 34px !important;
        padding-right: 10px !important; }
    .stu-form-wrap.stu-template-7 .icon {
      display: inline-block;
      text-align: center;
      height: 100px;
      width: 100px;
      line-height: 84px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.18);
      padding-top: 18px;
      margin-bottom: 24px; }
      .stu-form-wrap.stu-template-7 .icon img {
        display: inline-block;
        max-width: 50px;
        width: 100%;
        height: auto; }
    .stu-form-wrap.stu-template-7 .heading-wrap {
      margin-bottom: 24px;
      padding: 20px 40px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.14); }
      .stu-form-wrap.stu-template-7 .heading-wrap h2.stu-heading-text {
        margin-bottom: 4px; }
      .stu-form-wrap.stu-template-7 .heading-wrap p.stu-heading-paragraph {
        margin-bottom: 0; }
  .stu-form-wrap.stu-template-8 {
    text-align: left;
    background-color: #a84141;
    color: white; }
    .stu-form-wrap.stu-template-8 .both-fields-wrap {
      display: block; }
      .stu-form-wrap.stu-template-8 .both-fields-wrap .name-field {
        margin: 0 0 5px 0; }
    .stu-form-wrap.stu-template-8 .form-contents-wrap {
      display: flex; }
      .stu-form-wrap.stu-template-8 .form-contents-wrap .stu-icon-holder {
        flex: 1;
        max-width: 240px;
        text-align: center; }
      .stu-form-wrap.stu-template-8 .form-contents-wrap .form-holder {
        flex: 2;
        padding: 40px 28px; }
    .stu-form-wrap.stu-template-8 .stu-form-loader-1 {
      color: inherit; }
    .stu-form-wrap.stu-template-8 .stu-footer-text {
      padding: 0; }
    .stu-form-wrap.stu-template-8 .stu-form-submit {
      text-align: left;
      background-color: white;
      color: #df6767;
      border-radius: 3px;
      width: auto; }
      .stu-form-wrap.stu-template-8 .stu-form-submit:hover {
        background-color: black;
        color: white; }
    .stu-form-wrap.stu-template-8 .stu-btn-parent {
      max-width: 100%; }
    .stu-form-wrap.stu-template-8 .stu-icon-holder {
      background-color: rgba(0, 0, 0, 0.24);
      padding: 40px; }
    .stu-form-wrap.stu-template-8 .icon {
      margin-bottom: 20px;
      display: inline-block;
      text-align: center;
      height: 100px;
      width: 100px;
      line-height: 84px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.18);
      padding-top: 18px;
      margin-bottom: 24px; }
      .stu-form-wrap.stu-template-8 .icon img {
        display: inline-block;
        max-width: 50px;
        width: 100%;
        height: auto; }
    .stu-form-wrap.stu-template-8 input[type="text"],
    .stu-form-wrap.stu-template-8 input[type="email"] {
      text-align: left;
      background-color: rgba(255, 255, 255, 0.24);
      border-radius: 64px;
      color: inherit; }
    .stu-form-wrap.stu-template-8 .stu-unlock-form-wrap {
      padding-top: 40px; }
    .stu-form-wrap.stu-template-8 .stu-heading-text {
      margin-bottom: 5px; }
    .stu-form-wrap.stu-template-8 .stu-heading-paragraph {
      margin-bottom: 24px; }
    .stu-form-wrap.stu-template-8 .stu-form-submit {
      border-radius: 64px;
      padding: 0 40px;
      background-color: #ecc45c;
      color: white; }
  .stu-form-wrap.stu-template-9 {
    text-align: center;
    background-color: #d64141;
    color: white; }
    .stu-form-wrap.stu-template-9 .both-fields-wrap {
      display: block; }
      .stu-form-wrap.stu-template-9 .both-fields-wrap .name-field {
        margin: 0 0 5px 0; }
    .stu-form-wrap.stu-template-9 .form-contents-wrap {
      position: relative;
      display: flex; }
      .stu-form-wrap.stu-template-9 .form-contents-wrap .form-holder {
        flex: 2;
        padding: 40px 28px; }
      .stu-form-wrap.stu-template-9 .form-contents-wrap .white-bg {
        position: absolute;
        top: 0;
        right: 0;
        background-image: url("../images/temp-9-bg.png");
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: 34px 0;
        height: 100%;
        width: 300px; }
    .stu-form-wrap.stu-template-9 .stu-form-loader-1 {
      color: inherit; }
    .stu-form-wrap.stu-template-9 .stu-footer-text {
      padding: 0; }
    .stu-form-wrap.stu-template-9 .stu-form-submit {
      color: white;
      width: auto; }
      .stu-form-wrap.stu-template-9 .stu-form-submit:hover {
        background-color: black;
        color: white; }
    .stu-form-wrap.stu-template-9 .stu-btn-parent {
      max-width: 100%;
      text-align: center; }
    .stu-form-wrap.stu-template-9 .icon {
      margin-top: 100%;
      display: inline-block;
      text-align: center;
      height: 74px;
      width: 74px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.18); }
      .stu-form-wrap.stu-template-9 .icon i {
        color: rgba(0, 0, 0, 0.88);
        line-height: 74px;
        font-size: 24px; }
    .stu-form-wrap.stu-template-9 input[type="text"],
    .stu-form-wrap.stu-template-9 input[type="email"] {
      text-align: left;
      border-radius: 64px;
      background-color: white;
      color: rgba(0, 0, 0, 0.68); }
      .stu-form-wrap.stu-template-9 input[type="text"]:focus,
      .stu-form-wrap.stu-template-9 input[type="email"]:focus {
        background-color: rgba(255, 255, 255, 0.88); }
    .stu-form-wrap.stu-template-9 .stu-form-submit {
      border-radius: 64px;
      background-color: white;
      color: #d64141; }
    .stu-form-wrap.stu-template-9 .stu-heading-text {
      margin-bottom: 5px; }
    .stu-form-wrap.stu-template-9 .stu-heading-paragraph {
      margin-bottom: 20px; }
    .stu-form-wrap.stu-template-9 .form-holder {
      max-width: 60%; }
    .stu-form-wrap.stu-template-9 .has-pre-icon i {
      color: black; }
    .stu-form-wrap.stu-template-9 .stu-unlock-form-wrap {
      padding: 40px;
      max-width: 60%;
      margin: 0 auto; }
  .stu-form-wrap.stu-template-10 {
    color: rgba(0, 0, 0, 0.6);
    position: relative;
    padding: 0;
    text-align: left; }
    .stu-form-wrap.stu-template-10 .top-lines {
      position: absolute;
      top: 0;
      left: 0;
      height: 6px;
      display: flex;
      width: 100%; }
      .stu-form-wrap.stu-template-10 .top-lines span {
        display: block;
        flex: 0 0 33.33%; }
        .stu-form-wrap.stu-template-10 .top-lines span:nth-child(1) {
          background-color: #d9a86f; }
        .stu-form-wrap.stu-template-10 .top-lines span:nth-child(2) {
          background-color: #8fc972; }
        .stu-form-wrap.stu-template-10 .top-lines span:nth-child(3) {
          background-color: #45b1e4; }
    .stu-form-wrap.stu-template-10 .stu-icon-holder {
      text-align: center;
      margin-bottom: 28px; }
      .stu-form-wrap.stu-template-10 .stu-icon-holder i {
        font-size: 38px;
        color: inherit;
        opacity: 0.6; }
    .stu-form-wrap.stu-template-10 .stu-form-submit {
      background-color: gray;
      color: white;
      width: auto;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      min-width: 40%; }
      .stu-form-wrap.stu-template-10 .stu-form-submit:hover {
        background-color: black;
        color: white; }
    .stu-form-wrap.stu-template-10 input[type="text"],
    .stu-form-wrap.stu-template-10 input[type="email"] {
      text-align: inherit;
      background-color: transparent;
      border: solid 1px rgba(0, 0, 0, 0.1); }
      .stu-form-wrap.stu-template-10 input[type="text"]:focus,
      .stu-form-wrap.stu-template-10 input[type="email"]:focus {
        background-color: rgba(0, 0, 0, 0.04); }
    .stu-form-wrap.stu-template-10 .stu-form-loader-1 {
      color: inherit; }
    .stu-form-wrap.stu-template-10 .stu-footer-text {
      background-color: rgba(0, 0, 0, 0.08);
      padding: 15px 20px;
      border-top: solid 1px rgba(0, 0, 0, 0.1); }
    .stu-form-wrap.stu-template-10 .two-col {
      display: flex; }
      .stu-form-wrap.stu-template-10 .two-col .left-holder {
        align-self: center;
        padding: 40px;
        flex: 0 0 40%;
        max-width: 40%;
        text-align: center; }
      .stu-form-wrap.stu-template-10 .two-col .right-holder {
        padding: 40px 24px 0;
        flex: 0 0 60%;
        max-width: 60%; }
    .stu-form-wrap.stu-template-10 .both-fields-wrap {
      display: block; }
      .stu-form-wrap.stu-template-10 .both-fields-wrap .stu-name {
        margin-bottom: 10px; }
  .stu-form-wrap.stu-template-11 {
    color: white;
    background-image: url("../images/bg-11.jpg");
    background-size: cover;
    position: relative;
    padding: 40px 0 0;
    text-align: center; }
    .stu-form-wrap.stu-template-11:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(55, 59, 62, 0.8);
      z-index: 2; }
    .stu-form-wrap.stu-template-11 .stu-subscription-form {
      position: relative;
      z-index: 3; }
    .stu-form-wrap.stu-template-11 .both-fields-wrap .stu-field-wrap:first-child {
      margin-bottom: 5px; }
    .stu-form-wrap.stu-template-11 .both-fields-wrap input[type="text"],
    .stu-form-wrap.stu-template-11 .both-fields-wrap input[type="email"] {
      text-align: left;
      background-color: rgba(255, 255, 255, 0.24); }
    .stu-form-wrap.stu-template-11 .stu-form-loader-1 {
      color: inherit; }
    .stu-form-wrap.stu-template-11 .stu-form-submit {
      background-color: #2fd1c7;
      color: white; }
      .stu-form-wrap.stu-template-11 .stu-form-submit:hover {
        background-color: black;
        color: white; }
    .stu-form-wrap.stu-template-11 .stu-field-btn-wrap {
      max-width: 240px; }
    .stu-form-wrap.stu-template-11 .stu-heading-text {
      font-size: 48px !important; }
    .stu-form-wrap.stu-template-11 .stu-form-submit {
      width: 100%; }
    .stu-form-wrap.stu-template-11 .stu-heading-text {
      margin-bottom: 5px; }
      .stu-form-wrap.stu-template-11 .stu-heading-text span {
        opacity: 0.6;
        color: inherit;
        margin: 0 15px;
        font-size: 18px; }
    .stu-form-wrap.stu-template-11 .stu-heading-paragraph {
      margin-bottom: 24px; }
    .stu-form-wrap.stu-template-11 .padding {
      padding: 24px  24px 40px; }
    .stu-form-wrap.stu-template-11 .stu-footer-text {
      background-color: rgba(255, 255, 255, 0.18);
      padding: 15px 20px;
      margin: 0; }
    .stu-form-wrap.stu-template-11 .stu-terms-agreement-wrap {
      margin-bottom: 0; }
    .stu-form-wrap.stu-template-11 .two-col-head {
      display: flex;
      align-items: center;
      max-width: 500px;
      margin: 0 auto; }
      .stu-form-wrap.stu-template-11 .two-col-head .left-col {
        flex: 1;
        max-width: 108px; }
        .stu-form-wrap.stu-template-11 .two-col-head .left-col .icon {
          display: inline-block;
          text-align: center;
          height: 100px;
          width: 100px;
          line-height: 84px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.18);
          padding-top: 18px;
          margin-bottom: 24px; }
          .stu-form-wrap.stu-template-11 .two-col-head .left-col .icon img {
            display: inline-block;
            max-width: 50px;
            width: 100%;
            height: auto; }
      .stu-form-wrap.stu-template-11 .two-col-head .right-col {
        flex: 2;
        text-align: center; }
    .stu-form-wrap.stu-template-11 .stu-unlock-button {
      max-width: 40%; }
    .stu-form-wrap.stu-template-11 .stu-unlock-form-wrap {
      padding: 0 40px 40px;
      max-width: 60%;
      margin: 0 auto; }
    .stu-form-wrap.stu-template-11 .stu-unlock-form-wrap input[type="text"],
    .stu-form-wrap.stu-template-11 .stu-unlock-form-wrap input[type="email"] {
      background-color: rgba(255, 255, 255, 0.24); }
  .stu-form-wrap.stu-template-12 {
    text-align: center;
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    padding: 40px 0; }
    .stu-form-wrap.stu-template-12 .stu-form-loader-1 {
      color: inherit; }
    .stu-form-wrap.stu-template-12 .stu-form-content-wrap {
      margin: 0 auto;
      max-width: 580px; }
    .stu-form-wrap.stu-template-12 .both-fields-wrap {
      width: 100%; }
      .stu-form-wrap.stu-template-12 .both-fields-wrap > div {
        flex: 1; }
        .stu-form-wrap.stu-template-12 .both-fields-wrap > div.stu-submit-btn-wrap {
          max-width: 48px;
          height: 48px;
          margin-left: 15px; }
          .stu-form-wrap.stu-template-12 .both-fields-wrap > div.stu-submit-btn-wrap button {
            width: 48px;
            height: 48px;
            line-height: 46px;
            padding: 0;
            text-align: center;
            border-radius: 50%; }
      .stu-form-wrap.stu-template-12 .both-fields-wrap .stu-field-wrap:first-child {
        margin-right: 15px; }
    .stu-form-wrap.stu-template-12 h2.stu-heading-text {
      color: inherit; }
    .stu-form-wrap.stu-template-12 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-12 .stu-check-box-text {
      color: inherit; }
    .stu-form-wrap.stu-template-12 .stu-title-wrap {
      padding-left: 40px;
      text-align: left; }
    .stu-form-wrap.stu-template-12 input[type="text"],
    .stu-form-wrap.stu-template-12 input[type="email"] {
      text-align: left;
      background-color: transparent;
      color: inherit;
      border-bottom-color: rgba(0, 0, 0, 0.24);
      border-bottom-style: solid;
      border-bottom-width: 1px; }
      .stu-form-wrap.stu-template-12 input[type="text"]:focus,
      .stu-form-wrap.stu-template-12 input[type="email"]:focus {
        background-color: transparent;
        border-bottom-color: rgba(0, 0, 0, 0.68); }
    .stu-form-wrap.stu-template-12 .stu-form-submit {
      background-color: #ecc45c;
      color: white; }
      .stu-form-wrap.stu-template-12 .stu-form-submit:hover {
        background-color: rgba(0, 0, 0, 0.68);
        color: white; }
    .stu-form-wrap.stu-template-12 .has-pre-icon {
      position: relative; }
      .stu-form-wrap.stu-template-12 .has-pre-icon i {
        position: absolute;
        top: 15px;
        right: auto;
        left: 0;
        font-size: 18px;
        color: inherit; }
      .stu-form-wrap.stu-template-12 .has-pre-icon input[type="text"],
      .stu-form-wrap.stu-template-12 .has-pre-icon input[type="email"] {
        padding-left: 34px !important;
        padding-right: 10px !important; }
    .stu-form-wrap.stu-template-12 .icon {
      display: inline-block;
      text-align: center;
      height: 100px;
      width: 100px;
      line-height: 84px;
      border-radius: 50%;
      padding-top: 18px;
      margin-bottom: 0; }
      .stu-form-wrap.stu-template-12 .icon img {
        display: inline-block;
        max-width: 50px;
        width: 100%;
        height: auto; }
    .stu-form-wrap.stu-template-12 .heading-wrap {
      margin-bottom: 24px;
      padding: 20px 40px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.14); }
      .stu-form-wrap.stu-template-12 .heading-wrap h2.stu-heading-text {
        margin-bottom: 4px; }
      .stu-form-wrap.stu-template-12 .heading-wrap p.stu-heading-paragraph {
        margin-bottom: 0; }
  .stu-form-wrap.stu-template-13 {
    color: white;
    background-image: url("../images/bg-11.jpg");
    background-size: cover;
    position: relative;
    padding: 40px;
    text-align: center; }
    .stu-form-wrap.stu-template-13:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(55, 59, 62, 0.8);
      z-index: 2; }
    .stu-form-wrap.stu-template-13 .stu-subscription-form {
      position: relative;
      z-index: 3; }
    .stu-form-wrap.stu-template-13 .stu-icon-holder {
      text-align: center;
      margin-bottom: 28px; }
      .stu-form-wrap.stu-template-13 .stu-icon-holder i {
        font-size: 38px;
        color: inherit;
        opacity: 0.6; }
    .stu-form-wrap.stu-template-13 .stu-subscription-form {
      max-width: 680px;
      border: solid 4px white;
      margin: 0 auto; }
    .stu-form-wrap.stu-template-13 .stu-form-submit {
      background-color: #c94957;
      color: white;
      width: auto;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      min-width: 40%; }
      .stu-form-wrap.stu-template-13 .stu-form-submit:hover {
        background-color: black;
        color: white; }
    .stu-form-wrap.stu-template-13 input[type="text"],
    .stu-form-wrap.stu-template-13 input[type="email"] {
      text-align: inherit;
      background-color: transparent;
      border: solid 2px white; }
      .stu-form-wrap.stu-template-13 input[type="text"]:focus,
      .stu-form-wrap.stu-template-13 input[type="email"]:focus {
        background-color: rgba(255, 255, 255, 0.04); }
    .stu-form-wrap.stu-template-13 .stu-form-loader-1 {
      color: inherit; }
    .stu-form-wrap.stu-template-13 .stu-footer-text {
      background-color: rgba(0, 0, 0, 0.08);
      padding: 15px 20px;
      border-top: solid 1px rgba(0, 0, 0, 0.1); }
    .stu-form-wrap.stu-template-13 .padding {
      padding: 40px 24px 15px; }
    .stu-form-wrap.stu-template-13 .stu-icon-holder {
      padding-top: 30px; }
  .stu-form-wrap.stu-template-14 {
    text-align: center;
    background-color: #f3f5f6;
    color: black;
    padding: 24px 34px;
    position: relative; }
    .stu-form-wrap.stu-template-14 form {
      max-width: 458px;
      margin: 0 auto; }
    .stu-form-wrap.stu-template-14 .top-lines {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 6px;
      display: flex;
      width: 100%; }
      .stu-form-wrap.stu-template-14 .top-lines span {
        display: block;
        flex: 1 1 auto; }
        .stu-form-wrap.stu-template-14 .top-lines span:nth-child(1) {
          background-color: black; }
        .stu-form-wrap.stu-template-14 .top-lines span:nth-child(2) {
          background-color: #8fc972; }
    .stu-form-wrap.stu-template-14 .stu-form-loader-1 {
      color: inherit; }
    .stu-form-wrap.stu-template-14 .both-fields-wrap {
      display: block; }
      .stu-form-wrap.stu-template-14 .both-fields-wrap .stu-field-wrap:first-child {
        margin-bottom: 5px; }
    .stu-form-wrap.stu-template-14 .stu-form-submit {
      width: auto;
      border-radius: 3px; }
    .stu-form-wrap.stu-template-14 h2.stu-heading-text {
      color: inherit;
      margin-bottom: 5px; }
    .stu-form-wrap.stu-template-14 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-14 .stu-check-box-text {
      color: inherit; }
    .stu-form-wrap.stu-template-14 input[type="text"],
    .stu-form-wrap.stu-template-14 input[type="email"] {
      background-color: rgba(0, 0, 0, 0.06);
      color: inherit;
      text-align: left;
      border-radius: 64px; }
    .stu-form-wrap.stu-template-14 .stu-form-submit {
      background-color: #8fc972;
      color: #fff;
      border-radius: 64px; }
      .stu-form-wrap.stu-template-14 .stu-form-submit:hover {
        background-color: rgba(0, 0, 0, 0.68);
        color: white; }
    .stu-form-wrap.stu-template-14 .stu-footer-text {
      color: inherit; }
    .stu-form-wrap.stu-template-14 .icon {
      display: inline-block;
      text-align: center;
      height: 100px;
      width: 100px;
      line-height: 84px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.08);
      padding-top: 18px;
      margin-bottom: 24px; }
      .stu-form-wrap.stu-template-14 .icon img {
        display: inline-block;
        max-width: 50px;
        width: 100%;
        height: auto; }
  .stu-form-wrap.stu-template-15 {
    text-align: left;
    background-color: #141822;
    color: white; }
    .stu-form-wrap.stu-template-15 .both-fields-wrap .name-field {
      margin: 0 4px 5px 0; }
    .stu-form-wrap.stu-template-15 .form-contents-wrap {
      display: flex; }
      .stu-form-wrap.stu-template-15 .form-contents-wrap .stu-icon-holder {
        flex: 1;
        max-width: 240px;
        text-align: center;
        align-self: center; }
      .stu-form-wrap.stu-template-15 .form-contents-wrap .form-holder {
        flex: 2;
        padding: 40px 28px; }
    .stu-form-wrap.stu-template-15 .stu-form-loader-1 {
      color: inherit; }
    .stu-form-wrap.stu-template-15 .stu-footer-text {
      padding: 0; }
    .stu-form-wrap.stu-template-15 .stu-form-submit {
      text-align: center;
      color: white;
      background-color: #df6767;
      border-radius: 3px;
      width: 100%; }
      .stu-form-wrap.stu-template-15 .stu-form-submit:hover {
        background-color: white;
        color: #df6767; }
    .stu-form-wrap.stu-template-15 .stu-btn-parent {
      max-width: 200px;
      margin-left: 4px; }
    .stu-form-wrap.stu-template-15 .icon {
      display: inline-block;
      text-align: center;
      height: 150px;
      width: 150px;
      line-height: 110px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.18);
      padding-top: 12px; }
      .stu-form-wrap.stu-template-15 .icon img {
        display: inline-block;
        max-width: 90px; }
    .stu-form-wrap.stu-template-15 input[type="text"],
    .stu-form-wrap.stu-template-15 input[type="email"] {
      text-align: left;
      background-color: rgba(0, 0, 0, 0.94);
      border-radius: 3px; }
    .stu-form-wrap.stu-template-15 .stu-unlock-form-wrap {
      padding-top: 40px; }
  .stu-form-wrap.stu-template-16 {
    text-align: center;
    background-color: #3b85e9;
    color: white;
    padding: 24px 34px;
    position: relative; }
    .stu-form-wrap.stu-template-16 .top-lines {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 6px;
      display: flex;
      width: 100%; }
      .stu-form-wrap.stu-template-16 .top-lines span {
        display: block;
        flex: 1 1 auto; }
        .stu-form-wrap.stu-template-16 .top-lines span:nth-child(1) {
          background-color: black; }
    .stu-form-wrap.stu-template-16 .stu-form-loader-1 {
      color: inherit; }
    .stu-form-wrap.stu-template-16 .both-fields-wrap .stu-field-wrap:first-child {
      margin-bottom: 5px; }
    .stu-form-wrap.stu-template-16 h2.stu-heading-text {
      color: inherit;
      margin-bottom: 5px; }
    .stu-form-wrap.stu-template-16 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-16 .stu-check-box-text {
      color: inherit; }
    .stu-form-wrap.stu-template-16 input[type="text"],
    .stu-form-wrap.stu-template-16 input[type="email"] {
      background-color: rgba(255, 255, 255, 0.14);
      color: inherit;
      text-align: left;
      border-radius: 64px; }
    .stu-form-wrap.stu-template-16 .stu-btn-parent {
      max-width: 200px;
      margin-left: 5px; }
    .stu-form-wrap.stu-template-16 .stu-form-submit {
      background-color: #50A1FF;
      color: #fff;
      border-radius: 64px;
      width: 100%; }
      .stu-form-wrap.stu-template-16 .stu-form-submit:hover {
        background-color: rgba(0, 0, 0, 0.68);
        color: white; }
    .stu-form-wrap.stu-template-16 .stu-footer-text {
      color: inherit; }
    .stu-form-wrap.stu-template-16 .icon {
      display: inline-block;
      text-align: center;
      height: 100px;
      width: 100px;
      line-height: 84px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.08);
      padding-top: 18px;
      margin-bottom: 24px; }
      .stu-form-wrap.stu-template-16 .icon i {
        font-size: 38px; }
      .stu-form-wrap.stu-template-16 .icon img {
        display: inline-block;
        max-width: 50px;
        width: 100%;
        height: auto; }
  .stu-form-wrap.stu-template-17 {
    text-align: center;
    background-color: white;
    color: black;
    position: relative; }
    .stu-form-wrap.stu-template-17 .top-lines {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 6px;
      display: flex;
      width: 100%; }
      .stu-form-wrap.stu-template-17 .top-lines span {
        display: block;
        flex: 1 1 auto; }
        .stu-form-wrap.stu-template-17 .top-lines span:nth-child(1) {
          background-color: #22c6a9; }
    .stu-form-wrap.stu-template-17 .stu-form-loader-1 {
      color: inherit; }
    .stu-form-wrap.stu-template-17 .both-fields-wrap {
      display: block; }
      .stu-form-wrap.stu-template-17 .both-fields-wrap .stu-field-wrap:first-child {
        margin-bottom: 5px; }
    .stu-form-wrap.stu-template-17 .stu-mid-wrap {
      padding: 0 34px 24px; }
    .stu-form-wrap.stu-template-17 .stu-form-submit {
      width: auto;
      border-radius: 3px; }
    .stu-form-wrap.stu-template-17 h2.stu-heading-text {
      color: inherit;
      margin-bottom: 5px; }
    .stu-form-wrap.stu-template-17 p.stu-heading-paragraph,
    .stu-form-wrap.stu-template-17 .stu-check-box-text {
      color: inherit; }
    .stu-form-wrap.stu-template-17 input[type="text"],
    .stu-form-wrap.stu-template-17 input[type="email"] {
      background-color: rgba(0, 0, 0, 0.06);
      color: inherit;
      text-align: left;
      border-radius: 64px; }
    .stu-form-wrap.stu-template-17 .stu-form-submit {
      background-color: #22c6a9;
      color: #fff;
      border-radius: 64px; }
      .stu-form-wrap.stu-template-17 .stu-form-submit:hover {
        background-color: rgba(0, 0, 0, 0.68);
        color: white; }
    .stu-form-wrap.stu-template-17 .stu-footer-text {
      color: inherit;
      padding: 0 20px 28px;
      margin-top: 0; }
    .stu-form-wrap.stu-template-17 .icon {
      display: inline-block;
      text-align: center;
      height: 100px;
      width: 100px;
      line-height: 84px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.08);
      padding-top: 18px; }
      .stu-form-wrap.stu-template-17 .icon img {
        display: inline-block;
        max-width: 50px;
        width: 100%;
        height: auto; }
    .stu-form-wrap.stu-template-17 .stu-icon-holder {
      padding: 30px;
      background-color: rgba(0, 0, 0, 0.08);
      margin-bottom: 40px; }
  .stu-form-wrap.stu-template-18 {
    text-align: center;
    background-color: white; }
    .stu-form-wrap.stu-template-18 .both-fields-wrap {
      display: block; }
      .stu-form-wrap.stu-template-18 .both-fields-wrap .name-field {
        margin: 0 0 5px 0; }
    .stu-form-wrap.stu-template-18 .form-contents-wrap .form-holder {
      padding: 40px 28px;
      max-width: 500px;
      margin: 0 auto; }
    .stu-form-wrap.stu-template-18 .stu-form-loader-1 {
      color: inherit; }
    .stu-form-wrap.stu-template-18 .stu-footer-text {
      padding: 0; }
    .stu-form-wrap.stu-template-18 .stu-form-submit {
      background-color: #3b4248;
      color: white;
      width: auto; }
      .stu-form-wrap.stu-template-18 .stu-form-submit:hover {
        background-color: #279cff;
        color: white; }
    .stu-form-wrap.stu-template-18 .stu-btn-parent {
      max-width: 100%;
      text-align: center; }
    .stu-form-wrap.stu-template-18 .icon {
      margin-top: 100%;
      display: inline-block;
      text-align: center;
      height: 74px;
      width: 74px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.18); }
      .stu-form-wrap.stu-template-18 .icon i {
        color: white;
        line-height: 74px;
        font-size: 24px; }
    .stu-form-wrap.stu-template-18 input[type="text"],
    .stu-form-wrap.stu-template-18 input[type="email"] {
      text-align: left; }
    .stu-form-wrap.stu-template-18 .stu-unlock-form-wrap {
      padding: 40px;
      max-width: 60%;
      margin: 0 auto; }
  .stu-form-wrap.stu-template-19 {
    position: relative; }
    .stu-form-wrap.stu-template-19 .both-fields-wrap .stu-field-wrap:first-child {
      margin-bottom: 5px; }
    .stu-form-wrap.stu-template-19 .both-fields-wrap input[type="text"],
    .stu-form-wrap.stu-template-19 .both-fields-wrap input[type="email"] {
      text-align: left; }
    .stu-form-wrap.stu-template-19 .stu-form-loader-1 {
      color: inherit; }
    .stu-form-wrap.stu-template-19 .stu-form-submit {
      background-color: #ff654b;
      color: white; }
      .stu-form-wrap.stu-template-19 .stu-form-submit:hover {
        background-color: black;
        color: white; }
    .stu-form-wrap.stu-template-19 .stu-btn-parent {
      max-width: 200px; }
    .stu-form-wrap.stu-template-19 .stu-form-submit {
      width: 100%; }
    .stu-form-wrap.stu-template-19 .stu-heading-text {
      margin-bottom: 5px; }
      .stu-form-wrap.stu-template-19 .stu-heading-text span {
        opacity: 0.6;
        color: inherit;
        margin: 0 15px;
        font-size: 18px; }
    .stu-form-wrap.stu-template-19 .stu-heading-paragraph {
      margin-bottom: 24px; }
    .stu-form-wrap.stu-template-19 .padding {
      padding: 40px 24px 0; }
    .stu-form-wrap.stu-template-19 .stu-footer-text {
      background-color: rgba(0, 0, 0, 0.08);
      padding: 15px 20px;
      border-top: solid 1px rgba(0, 0, 0, 0.1); }
    .stu-form-wrap.stu-template-19 .stu-unlock-form-wrap {
      padding: 0 40px 40px;
      max-width: 60%;
      margin: 0 auto; }
  .stu-form-wrap.stu-template-20 {
    color: rgba(0, 0, 0, 0.6);
    position: relative;
    padding: 0;
    text-align: left; }
    .stu-form-wrap.stu-template-20 .top-lines {
      position: absolute;
      top: 0;
      left: 0;
      height: 6px;
      display: flex;
      width: 100%; }
      .stu-form-wrap.stu-template-20 .top-lines span {
        display: block;
        flex: 1 1 auto; }
        .stu-form-wrap.stu-template-20 .top-lines span:nth-child(1) {
          background-color: #d9a86f; }
        .stu-form-wrap.stu-template-20 .top-lines span:nth-child(2) {
          background-color: #8fc972; }
        .stu-form-wrap.stu-template-20 .top-lines span:nth-child(3) {
          background-color: #45b1e4; }
    .stu-form-wrap.stu-template-20 .stu-icon-holder {
      text-align: center;
      margin-bottom: 28px; }
      .stu-form-wrap.stu-template-20 .stu-icon-holder i {
        font-size: 38px;
        color: inherit;
        opacity: 0.6; }
    .stu-form-wrap.stu-template-20 .stu-form-submit {
      background-color: gray;
      color: white;
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .stu-form-wrap.stu-template-20 .stu-form-submit:hover {
        background-color: black;
        color: white; }
    .stu-form-wrap.stu-template-20 input[type="text"],
    .stu-form-wrap.stu-template-20 input[type="email"] {
      text-align: inherit;
      background-color: transparent;
      border: solid 1px rgba(0, 0, 0, 0.1); }
      .stu-form-wrap.stu-template-20 input[type="text"]:focus,
      .stu-form-wrap.stu-template-20 input[type="email"]:focus {
        background-color: rgba(0, 0, 0, 0.04); }
    .stu-form-wrap.stu-template-20 .stu-form-loader-1 {
      color: inherit; }
    .stu-form-wrap.stu-template-20 .stu-footer-text {
      background-color: rgba(0, 0, 0, 0.08);
      padding: 15px 20px;
      border-top: solid 1px rgba(0, 0, 0, 0.1); }
    .stu-form-wrap.stu-template-20 .two-col {
      padding: 40px; }
    .stu-form-wrap.stu-template-20 .stu-btn-parent {
      max-width: 240px; }
    .stu-form-wrap.stu-template-20 .both-fields-wrap {
      display: block; }
      .stu-form-wrap.stu-template-20 .both-fields-wrap .stu-name {
        margin-bottom: 10px; }

.rtl .stu-form-wrap.stu-template-1 .stu-field-wrap, .rtl .stu-form-wrap.stu-template-2 .stu-field-wrap, .rtl .stu-form-wrap.stu-template-3 .stu-field-wrap, .rtl .stu-form-wrap.stu-template-4 .stu-field-wrap, .rtl .stu-form-wrap.stu-template-5 .stu-field-wrap, .rtl .stu-form-wrap.stu-template-6 .stu-field-wrap, .rtl .stu-form-wrap.stu-template-7 .stu-field-wrap, .rtl .stu-form-wrap.stu-template-8 .stu-field-wrap, .rtl .stu-form-wrap.stu-template-9 .stu-field-wrap, .rtl .stu-form-wrap.stu-template-10 .stu-field-wrap {
  margin-left: 4px; }
  .rtl .stu-form-wrap.stu-template-1 .stu-field-wrap input[type="text"],
  .rtl .stu-form-wrap.stu-template-1 .stu-field-wrap input[type="email"], .rtl .stu-form-wrap.stu-template-2 .stu-field-wrap input[type="text"],
  .rtl .stu-form-wrap.stu-template-2 .stu-field-wrap input[type="email"], .rtl .stu-form-wrap.stu-template-3 .stu-field-wrap input[type="text"],
  .rtl .stu-form-wrap.stu-template-3 .stu-field-wrap input[type="email"], .rtl .stu-form-wrap.stu-template-4 .stu-field-wrap input[type="text"],
  .rtl .stu-form-wrap.stu-template-4 .stu-field-wrap input[type="email"], .rtl .stu-form-wrap.stu-template-5 .stu-field-wrap input[type="text"],
  .rtl .stu-form-wrap.stu-template-5 .stu-field-wrap input[type="email"], .rtl .stu-form-wrap.stu-template-6 .stu-field-wrap input[type="text"],
  .rtl .stu-form-wrap.stu-template-6 .stu-field-wrap input[type="email"], .rtl .stu-form-wrap.stu-template-7 .stu-field-wrap input[type="text"],
  .rtl .stu-form-wrap.stu-template-7 .stu-field-wrap input[type="email"], .rtl .stu-form-wrap.stu-template-8 .stu-field-wrap input[type="text"],
  .rtl .stu-form-wrap.stu-template-8 .stu-field-wrap input[type="email"], .rtl .stu-form-wrap.stu-template-9 .stu-field-wrap input[type="text"],
  .rtl .stu-form-wrap.stu-template-9 .stu-field-wrap input[type="email"], .rtl .stu-form-wrap.stu-template-10 .stu-field-wrap input[type="text"],
  .rtl .stu-form-wrap.stu-template-10 .stu-field-wrap input[type="email"] {
    text-align: right; }

.rtl .stu-form-wrap.stu-template-3 .stu-field-wrap input[type="text"],
.rtl .stu-form-wrap.stu-template-3 .stu-field-wrap input[type="email"] {
  padding-right: 48px !important; }

.rtl .stu-form-wrap.stu-template-4 {
  text-align: right; }
  .rtl .stu-form-wrap.stu-template-4 .stu-field-wrap input[type="text"],
  .rtl .stu-form-wrap.stu-template-4 .stu-field-wrap input[type="email"] {
    padding-right: 48px !important; }

.rtl .stu-form-wrap.stu-template-7 .has-pre-icon input[type="email"],
.rtl .stu-form-wrap.stu-template-7 .has-pre-icon input[type="text"] {
  padding-left: 10px !important;
  padding-right: 34px !important; }

.rtl .stu-form-wrap.stu-template-7 .has-pre-icon i {
  left: auto;
  right: 0; }

.rtl .stu-form-wrap.stu-template-8 {
  text-align: right; }
  .rtl .stu-form-wrap.stu-template-8 .stu-field-wrap input[type="text"],
  .rtl .stu-form-wrap.stu-template-8 .stu-field-wrap input[type="email"] {
    padding-right: 48px !important; }

.rtl .stu-form-wrap.stu-template-9 .stu-field-wrap input[type="text"],
.rtl .stu-form-wrap.stu-template-9 .stu-field-wrap input[type="email"] {
  padding-right: 48px !important; }

.rtl .stu-form-wrap.stu-template-9 .form-contents-wrap .white-bg {
  right: auto;
  left: 0;
  transform: rotateY(180deg); }

.rtl .stu-form-wrap.stu-template-10 {
  text-align: right; }
  .rtl .stu-form-wrap.stu-template-10 .stu-footer-text {
    text-align: center; }

.stu-popup-innerwrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999; }
  .stu-popup-innerwrap .stu-popup-wrapper {
    background-color: rgba(0, 0, 0, 0.88);
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
  .stu-popup-innerwrap .stu-form-wrap {
    width: auto;
    height: auto;
    min-width: 748px;
    max-width: 748px !important; }
    .stu-popup-innerwrap .stu-form-wrap.stu-template-8 {
      padding: 0;
      max-width: 480px !important; }
      .stu-popup-innerwrap .stu-form-wrap.stu-template-8 .stu-content-wrap {
        padding: 0 34px 34px; }
  .stu-popup-innerwrap .stu-main-outer-wrap:after {
    display: none; }
  .stu-popup-innerwrap .stu-main-outer-wrap .stu-blur-overlay {
    position: static; }
  .stu-popup-innerwrap .stu-popup-content-wrap {
    position: relative; }
    .stu-popup-innerwrap .stu-popup-content-wrap .stu-popup-close {
      position: absolute;
      top: -34px;
      right: -34px;
      color: white;
      background: rgba(255, 255, 255, 0.14);
      height: 34px;
      width: 34px;
      border-radius: 50%;
      line-height: 30px;
      padding-top: 2px;
      text-align: center;
      font-size: 18px;
      display: block; }
      .stu-popup-innerwrap .stu-popup-content-wrap .stu-popup-close:hover {
        text-decoration: none;
        box-shadow: none;
        color: white;
        background: rgba(255, 255, 255, 0.18);
        border: none;
        height: 34px;
        width: 34px; }
        .stu-popup-innerwrap .stu-popup-content-wrap .stu-popup-close:hover i {
          color: white; }

@media all and (min-width: 768px) and (max-width: 1200px) {
  .stu-form-wrap.stu-template-4 .both-fields-wrap {
    display: block; }
    .stu-form-wrap.stu-template-4 .both-fields-wrap .name-field {
      display: block;
      width: 100%;
      margin-bottom: 8px; }
  .stu-form-wrap.stu-template-4 .stu-btn-parent {
    margin-top: 15px; }
  .stu-form-wrap.stu-template-6 .two-col-head {
    padding: 0 15px; }
  .stu-form-wrap.stu-template-7 .stu-form-content-wrap {
    padding: 0 15px; }
  .stu-form-wrap.stu-template-9 .form-contents-wrap .white-bg {
    width: 240px; }
  .stu-popup-innerwrap .stu-form-wrap.stu-template-11, .stu-popup-innerwrap .stu-form-wrap.stu-template-12 {
    max-width: 500px !important; }
    .stu-popup-innerwrap .stu-form-wrap.stu-template-11 .stu-subs-img-hold, .stu-popup-innerwrap .stu-form-wrap.stu-template-12 .stu-subs-img-hold {
      max-width: 100%;
      width: 100%; }
      .stu-popup-innerwrap .stu-form-wrap.stu-template-11 .stu-subs-img-hold img, .stu-popup-innerwrap .stu-form-wrap.stu-template-12 .stu-subs-img-hold img {
        vertical-align: top; }
  .stu-popup-innerwrap .stu-form-wrap.stu-template-19 {
    max-width: 600px !important; }
  .stu-popup-wrapper {
    max-height: 100vh;
    overflow-y: auto;
    padding: 30px 0; }
  .stu-form-wrap {
    max-width: 68% !important; } }

@media all and (min-width: 0px) and (max-width: 767px) {
  .stu-content-locked {
    position: relative;
    max-height: 800px;
    min-height: 800px;
    overflow: hidden; }
  .stu-form-wrap {
    max-width: 90% !important;
    padding: 20px; }
    .stu-form-wrap .both-fields-wrap {
      display: block; }
      .stu-form-wrap .both-fields-wrap .name-field {
        display: block;
        width: 100%;
        margin-bottom: 8px; }
    .stu-form-wrap p.stu-heading-paragraph,
    .stu-form-wrap p.stu-check-box-text,
    .stu-form-wrap .stu-check-box-text {
      line-height: 1.4;
      font-size: 14px; }
    .stu-form-wrap.stu-template-1, .stu-form-wrap.stu-template-2, .stu-form-wrap.stu-template-3, .stu-form-wrap.stu-template-4, .stu-form-wrap.stu-template-5, .stu-form-wrap.stu-template-6, .stu-form-wrap.stu-template-7, .stu-form-wrap.stu-template-8, .stu-form-wrap.stu-template-9, .stu-form-wrap.stu-template-10, .stu-form-wrap.stu-template-11, .stu-form-wrap.stu-template-12, .stu-form-wrap.stu-template-13, .stu-form-wrap.stu-template-14, .stu-form-wrap.stu-template-15, .stu-form-wrap.stu-template-16, .stu-form-wrap.stu-template-17, .stu-form-wrap.stu-template-18, .stu-form-wrap.stu-template-19, .stu-form-wrap.stu-template-20 {
      padding: 34px 20px; }
      .stu-form-wrap.stu-template-1 .padding, .stu-form-wrap.stu-template-2 .padding, .stu-form-wrap.stu-template-3 .padding, .stu-form-wrap.stu-template-4 .padding, .stu-form-wrap.stu-template-5 .padding, .stu-form-wrap.stu-template-6 .padding, .stu-form-wrap.stu-template-7 .padding, .stu-form-wrap.stu-template-8 .padding, .stu-form-wrap.stu-template-9 .padding, .stu-form-wrap.stu-template-10 .padding, .stu-form-wrap.stu-template-11 .padding, .stu-form-wrap.stu-template-12 .padding, .stu-form-wrap.stu-template-13 .padding, .stu-form-wrap.stu-template-14 .padding, .stu-form-wrap.stu-template-15 .padding, .stu-form-wrap.stu-template-16 .padding, .stu-form-wrap.stu-template-17 .padding, .stu-form-wrap.stu-template-18 .padding, .stu-form-wrap.stu-template-19 .padding, .stu-form-wrap.stu-template-20 .padding {
        padding: 0; }
      .stu-form-wrap.stu-template-1 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-2 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-3 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-4 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-5 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-6 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-7 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-8 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-9 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-10 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-11 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-12 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-13 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-14 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-15 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-16 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-17 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-18 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-19 .stu-unlock-form-wrap, .stu-form-wrap.stu-template-20 .stu-unlock-form-wrap {
        padding: 20px;
        max-width: 100%;
        margin: 0 auto; }
        .stu-form-wrap.stu-template-1 .stu-unlock-form-wrap .stu-unlock-button, .stu-form-wrap.stu-template-2 .stu-unlock-form-wrap .stu-unlock-button, .stu-form-wrap.stu-template-3 .stu-unlock-form-wrap .stu-unlock-button, .stu-form-wrap.stu-template-4 .stu-unlock-form-wrap .stu-unlock-button, .stu-form-wrap.stu-template-5 .stu-unlock-form-wrap .stu-unlock-button, .stu-form-wrap.stu-template-6 .stu-unlock-form-wrap .stu-unlock-button, .stu-form-wrap.stu-template-7 .stu-unlock-form-wrap .stu-unlock-button, .stu-form-wrap.stu-template-8 .stu-unlock-form-wrap .stu-unlock-button, .stu-form-wrap.stu-template-9 .stu-unlock-form-wrap .stu-unlock-button, .stu-form-wrap.stu-template-10 .stu-unlock-form-wrap .stu-unlock-button, .stu-form-wrap.stu-template-11 .stu-unlock-form-wrap .stu-unlock-button, .stu-form-wrap.stu-template-12 .stu-unlock-form-wrap .stu-unlock-button, .stu-form-wrap.stu-template-13 .stu-unlock-form-wrap .stu-unlock-button, .stu-form-wrap.stu-template-14 .stu-unlock-form-wrap .stu-unlock-button, .stu-form-wrap.stu-template-15 .stu-unlock-form-wrap .stu-unlock-button, .stu-form-wrap.stu-template-16 .stu-unlock-form-wrap .stu-unlock-button, .stu-form-wrap.stu-template-17 .stu-unlock-form-wrap .stu-unlock-button, .stu-form-wrap.stu-template-18 .stu-unlock-form-wrap .stu-unlock-button, .stu-form-wrap.stu-template-19 .stu-unlock-form-wrap .stu-unlock-button, .stu-form-wrap.stu-template-20 .stu-unlock-form-wrap .stu-unlock-button {
          margin-top: 15px; }
    .stu-form-wrap.stu-template-2 .stu-heading-text span {
      display: none; }
    .stu-form-wrap.stu-template-2 .stu-form-submit {
      margin-top: 5px; }
    .stu-form-wrap.stu-template-3 {
      padding: 0; }
      .stu-form-wrap.stu-template-3 .form-contents-wrap {
        display: block; }
        .stu-form-wrap.stu-template-3 .form-contents-wrap .stu-icon-holder {
          max-width: 100%;
          padding: 24px; }
      .stu-form-wrap.stu-template-3 .icon {
        margin-top: 0; }
    .stu-form-wrap.stu-template-4 .form-contents-wrap {
      display: block; }
      .stu-form-wrap.stu-template-4 .form-contents-wrap .stu-icon-holder {
        max-width: 100%; }
      .stu-form-wrap.stu-template-4 .form-contents-wrap .form-holder {
        flex: 2;
        padding: 20px 0 0;
        text-align: center; }
    .stu-form-wrap.stu-template-4 .icon {
      margin-top: 0; }
    .stu-form-wrap.stu-template-6 {
      padding: 0; }
      .stu-form-wrap.stu-template-6 .top-wrap {
        padding: 15px 15px 0; }
      .stu-form-wrap.stu-template-6 .bottom-wrap {
        padding: 24px; }
      .stu-form-wrap.stu-template-6 .stu-form-submit {
        margin-top: 5px; }
    .stu-form-wrap.stu-template-7 {
      padding: 0; }
      .stu-form-wrap.stu-template-7 .heading-wrap {
        margin-bottom: 0; }
      .stu-form-wrap.stu-template-7 .icon {
        margin-bottom: 0; }
      .stu-form-wrap.stu-template-7 .stu-icon-holder {
        padding: 0; }
      .stu-form-wrap.stu-template-7 .stu-form-content-wrap {
        padding: 24px; }
      .stu-form-wrap.stu-template-7 .stu-form-submit {
        margin-top: 5px; }
      .stu-form-wrap.stu-template-7 .stu-submit-btn-wrap {
        margin-left: 0 !important;
        margin-top: 10px; }
    .stu-form-wrap.stu-template-8 {
      padding: 0; }
      .stu-form-wrap.stu-template-8 .form-contents-wrap {
        display: block; }
        .stu-form-wrap.stu-template-8 .form-contents-wrap .stu-icon-holder {
          max-width: 100%;
          padding: 15px; }
    .stu-form-wrap.stu-template-9 {
      padding: 0; }
      .stu-form-wrap.stu-template-9 .form-holder {
        max-width: 100%; }
      .stu-form-wrap.stu-template-9 .white-bg {
        display: none; }
    .stu-form-wrap.stu-template-10 {
      padding: 0; }
      .stu-form-wrap.stu-template-10 .two-col {
        display: block; }
        .stu-form-wrap.stu-template-10 .two-col .left-holder,
        .stu-form-wrap.stu-template-10 .two-col .right-holder {
          max-width: 100%; }
        .stu-form-wrap.stu-template-10 .two-col .left-holder {
          padding: 15px;
          text-align: center; }
          .stu-form-wrap.stu-template-10 .two-col .left-holder img {
            max-width: 128px; }
        .stu-form-wrap.stu-template-10 .two-col .right-holder {
          padding: 0 20px 20px; }
  .stu-popup-innerwrap .stu-form-wrap {
    min-width: 200px;
    margin: 0 20px; }
    .stu-popup-innerwrap .stu-form-wrap.stu-template-7 {
      padding: 40px 20px; }
  .stu-popup-innerwrap .stu-popup-content-wrap .stu-popup-close {
    top: -22px;
    right: 0;
    background-color: black;
    z-index: 9; }
  .stu-popup-wrapper {
    max-height: 100vh;
    overflow-y: auto;
    padding: 30px 0; }
  .stu-form-wrap.stu-template-15 .form-contents-wrap .stu-icon-holder {
    max-width: 100%; }
  .stu-form-wrap.stu-template-15 .form-contents-wrap {
    display: block; }
  .stu-form-wrap.stu-template-19 .stu-btn-parent,
  .stu-form-wrap.stu-template-15 .stu-btn-parent {
    margin-top: 5px; }
  .stu-form-wrap.stu-template-13 .padding {
    padding: 15px; }
  .stu-form-wrap.stu-template-12 .both-fields-wrap > div.stu-submit-btn-wrap {
    margin-left: 0;
    margin-top: 15px; }
  .stu-form-wrap.stu-template-17 .stu-mid-wrap {
    padding: 0 0 10px; }
  .stu-form-wrap.stu-template-18 .form-contents-wrap .form-holder,
  .stu-form-wrap.stu-template-20 .two-col,
  .stu-form-wrap.stu-template-15 .form-contents-wrap .form-holder {
    padding: 0; } }

.stu-form-loader-wraper {
  display: none;
  text-align: center;
  margin-top: -14px;
  margin-bottom: 28px; }

.stu-form-loader {
  display: inline-block; }

.stu-form-loader-1,
.stu-form-loader-1:before,
.stu-form-loader-1:after {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.4s infinite ease-in-out;
  animation: load7 1.4s infinite ease-in-out; }

.stu-form-loader-1 {
  font-size: 10px;
  margin: 0;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.14s;
  animation-delay: -0.14s; }

.stu-form-loader-1:before,
.stu-form-loader-1:after {
  content: '';
  position: absolute;
  top: 0; }

.stu-form-loader-1:before {
  left: -12px;
  -webkit-animation-delay: -0.28s;
  animation-delay: -0.28s; }

.stu-form-loader-1:after {
  left: 12px; }

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }

.stu-download-button {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.68);
  text-decoration: none;
  line-height: 68px;
  padding: 0 48px;
  background: rgba(0, 0, 0, 0.08);
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 10px;
  transition: all .3s ease;
  border-radius: 2px; }
  .stu-download-button i {
    margin-right: 14px; }

.stu-download-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white; }

.stu-terms-agreement-wrap label a {
  color: inherit;
  text-decoration: underline; }

.stu-form-loader-wraper {
  text-align: center; }

.stu-countdown-timer-message {
  flex: 0 0 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  padding: 40px;
  background: rgba(0, 0, 0, 0.88);
  font-family: "Poppins"; }

.stu-countdown-number {
  color: yellow;
  font-weight: 700; }

.stu-content-unlocked {
  margin: 0;
  padding: 0; }

.stu-unlock-error-message {
  display: none; }
  .stu-unlock-error-message span {
    padding: 8px 15px;
    text-align: center;
    background-color: #df6767;
    color: white;
    font-size: 14px;
    margin: 14px 0;
    display: block;
    width: 100%; }

.stu-content-locked .stu-lock-content {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }
.stu-popup-innerwrap.stu-delay-popup {
    display: none;
}